@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  outline: 2px solid #7943a4;
}

a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

ul,
li {
  list-style: none;
}

:root {
  --first-color: #9d5cd0;
  --first-lite: #c283f3;
  --extra-lite: #d1a9f0;
  --second-color: #7943a4;
  --Black: #000000;
  --Wight: #ffffff;
  --Grey: #cacaca;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.24px;
}

h2 {
  font-weight: 400;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

.signature {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #999999;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.back_to_top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: var(--second-color);
  cursor: pointer;
  border-radius: 100px;
  display: none;
}

.back_to_top::after {
  content: '';
  display: block;
  position: absolute;
  left: 18%;
  bottom: 20%;
  width: 25px;
  height: 25px;
  background-image: url(../image/strelka_up.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 111;
}

.back_to_top:hover {
  background: var(--first-lite);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.back_to_top-show {
  display: block;
}

/* header */
.header {
  width: 100%;
}

.header__primary {
  background-color: #000000;
}

.header__container--up {
  width: 1630px;
  padding-top: 28px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  width: 173px;
  height: 40px;
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 200;
}

.header__nav {
  margin-top: -7px;
  margin-left: -100px;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header__link:hover {
  color: var(--first-lite);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__link:active {
  color: var(--second-color);
}

.header__admission {
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.header__admission svg {
  margin-right: 7px;
}

.header__admission:hover {
  color: var(--first-lite);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__admission:hover svg path {
  fill: var(--first-lite);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__admission:active {
  color: var(--second-color);
}

.header__admission:active svg path {
  fill: var(--second-color);
}

.header__item--down:not(:last-child) {
  margin-right: 102px;
}

.header__item--down:hover .header__choice {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.header__secondary {
  background-color: rgba(0, 0, 0, 0.5);
}

.header__container--down {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 9px;
}

.header__nav--down {
  margin-top: -14px;
}

.header__style {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.header__style::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 4px;
  margin-bottom: 5px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__style:hover {
  color: var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__style:hover:after {
  border-left: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__style:active {
  color: var(--second-color);
}

.header__style:active:after {
  margin-bottom: 0;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid var(--second-color);
  border-top: 1px solid var(--second-color);
}

.header__choice {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: -50px;
  margin-top: 23px;
  padding: 40px 40px;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__choice .simplebar-scrollbar::before {
  background: var(--first-color);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  left: 0;
  right: 2px;
  width: 3px;
}

.header__choice .header__performer {
  position: relative;
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__choice .header__artist {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 0 7px 14px;
  width: 220px;
  height: 40px;
  color: #ffffff;
}

.header__choice .header__artist:active {
  background-color: var(--first-color);
  opacity: 0.3;
}

.header__choice .header__artist:hover {
  outline: 2px solid var(--first-color);
}

.header__performer1,
.header__performer3,
.header__performer5,
.header__performer7,
.header__performer9,
.header__performer11 {
  background-image: url(../image/first-choice1.jpg);
}

.header__performer2,
.header__performer4,
.header__performer6,
.header__performer8,
.header__performer10,
.header__performer12 {
  background-image: url(../image/first-choice3.jpg);
}

.header__search {
  position: relative;
  margin-top: -3px;
  padding-left: 44px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__search .header__search-input {
  margin-top: 6px;
  width: 218px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search .header__search-input:focus {
  outline: none;
}

.header__search:focus-within {
  outline: 1px solid var(--first-color);
}

.header__search:hover input {
  border-bottom: 1px solid var(--first-lite);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__search:active input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.header__search:hover .header__magnifier--lupe rect,
.header__search:hover .header__magnifier--lupe path {
  fill: var(--first-lite);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__search:active .header__magnifier--lupe rect,
.header__search:active .header__magnifier--lupe path {
  fill: var(--second-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__search .header__magnifier {
  display: block;
  position: absolute;
  left: 6px;
  top: 7px;
  border: none;
  background: none;
}

/* first section */
.first {
  background: transparent;
  z-index: -1;
}

.first .first__swiper {
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0;
  top: 100px;
  z-index: -100;
}

.first .background__first {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  z-index: -11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: backgroundAnimation 30s linear infinite;
  animation: backgroundAnimation 30s linear infinite;
}

.first .background1 {
  background-image: url(../image/birmingham-museums-trust.jpg);
}

.first .background2 {
  background-image: url(../image/bacground2.jpg);
}

.first .background3 {
  background-image: url(../image/background3.jpg);
}

.first from {
  background-size: 100% 100%;
}

@-webkit-keyframes backgroundAnimation {
  from {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  to {
    background-size: 100% 100%;
  }
}

@keyframes backgroundAnimation {
  from {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  to {
    background-size: 100% 100%;
  }
}

.first .first__container {
  padding-top: 9px;
  padding-bottom: 122px;
}

.first .first__title {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: -3px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.3px;
  line-height: 83px;
  color: #ffffff;
}

.first .first__description {
  max-width: 597px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.first .first__subscription {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 30px;
  width: 314px;
  height: 70px;
  border: none;
  background: var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.first .first__subscription:hover {
  border: 3px solid var(--extra-lite);
  transition: border-width .5s;
  animation: shadow 1s;
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px 0 var(--first-color) inset, 0 0 10px 4px var(--first-color);
  }
  100% {
    box-shadow: none;
  }
}

.first .first__subscription:focus {
  background: var(--first-color);
  border: 3px solid var(--second-color);
}

.first .first__subscription:active {
  background: var(--second-color);
  border: 3px solid var(--extra-lite);
}

/* aboutUs section */
.aboutUs {
  background: #e5e5e5;
}

.aboutUs__container {
  padding-bottom: 52px;
  padding-top: 40px;
}

.aboutUs__title {
  margin-bottom: 18px;
}

.aboutUs__description {
  max-width: 1080px;
}

/* gallery section */
.gallery {
  background-image: url(../image/backg_gallary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .gallery__container {
  padding-bottom: 55px;
  padding-top: 40px;
}

.gallery__title {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}

.gallery__choice {
  margin-right: 47px;
  margin-left: 3px;
}

.gallery__docket {
  display: block;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.gallery__showing {
  margin-top: -23px;
}

.choices__inner {
  width: 400px;
  min-height: 40px;
  border-radius: 10px;
  background: none;
  padding: 7px 15px 7px 9px;
  border: 1px solid #ffffff;
  letter-spacing: 1.4px;
  color: #ffffff;
  padding-right: 15px;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  background: none;
  border: none;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.choices__placeholder.choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: "";
}

.choices__list {
  color: #ffffff;
}

.choices__list--dropdown .choices__item {
  padding-left: 15px;
}

.choices__placeholder {
  opacity: 1;
}

div[data-id="1"] {
  display: none;
}

div[data-custom-properties="[object Object]"] {
  display: block;
}

.choices[data-type="select-one"]:after {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.choices[data-type="select-one"].is-open:after {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.gallery__description {
  max-width: 377px;
  margin-top: -134px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.gallery__description span {
  color: var(--first-color);
}

.swiper-container#slider1 {
  margin-top: -7px;
  width: 1147px;
  height: 750px;
}

.swiper-button-next-st {
  right: 1px;
}

.swiper-button-prev-st {
  left: 5px;
}

.swiper-button-next-st,
.swiper-button-prev-st {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ececec;
  border-radius: 50%;
  text-align: center;
  padding: 3px 10px;
  top: -35px;
}

.swiper-button-next-st:focus,
.swiper-button-prev-st:focus {
  border: 2px solid var(--first-color);
  outline: none;
  padding: 0px 10px;
}

.swiper-button-next-st:hover,
.swiper-button-prev-st:hover {
  background-color: var(--first-color);
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.swiper-button-next-st:active,
.swiper-button-prev-st:active {
  background-color: var(--first-color);
  border: 2px solid var(--second-color);
}

.swiper-button-next-st:after,
.swiper-button-prev-st:after {
  font-size: 12px;
  color: #000000;
}

.swiper-button-next.swiper-button-next-st:hover::after,
.swiper-button-prev.swiper-button-prev-st:hover::after,
.swiper-button-next.swiper-button-next-st:active::after,
.swiper-button-prev.swiper-button-prev-st:active::after {
  color: #ffffff;
}

.swiper-button-disabled {
  background-color: rgba(223, 223, 223, 0.5);
}

.swiper-pagination-st {
  position: relative;
  display: inline-block;
  top: -35px;
  right: 30px;
  max-width: 70px;
}

.swiper-pagination-st.swiper-pagination-fraction {
  color: #ffffff;
  font-size: 14px;
}

.gallery__swiper .swiper-wraper .swiper-slider {
  max-width: 350px !important;
}

.swiper-slide.gallery__slider {
  display: block;
  position: relative;
  height: 347px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide.gallery__slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--extra-lite);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide.gallery__slider::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 310px;
  height: 310px;
  background-image: url(../image/hover-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide.gallery__slider:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide.gallery__slider:active::after {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.swiper-slide.gallery__slider:active::before {
  opacity: 0.4;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.picture1 {
  background-image: url(../image/Rectangle.jpg);
}

.picture2 {
  background-image: url(../image/Rectangle2.jpg);
}

.picture3 {
  background-image: url(../image/Rectangle3.jpg);
}

.picture4 {
  background-image: url(../image/Rectangle4.jpg);
}

.picture5 {
  background-image: url(../image/Rectangle5.jpg);
}

.picture6 {
  background-image: url(../image/Rectangle6.jpg);
}

.picture7 {
  background-image: url(../image/Rectangle7.jpg);
}

.picture8 {
  background-image: url(../image/Rectangle8.jpg);
}

.picture9 {
  background-image: url(../image/Rectangle9.jpg);
}

.picture10 {
  background-image: url(../image/Rectangle10.jpg);
}

.picture11 {
  background-image: url(../image/Rectangle11.jpg);
}

.picture12 {
  background-image: url(../image/Rectangle12.jpg);
}

.picture13 {
  background-image: url(../image/Rectangle13.jpg);
}

.picture14 {
  background-image: url(../image/Rectangle14.jpg);
}

.picture15 {
  background-image: url(../image/Rectangle15.jpg);
}

.picture16 {
  background-image: url(../image/Rectangle16.jpg);
}

.picture17 {
  background-image: url(../image/Rectangle17.jpg);
}

.picture18 {
  background-image: url(../image/Rectangle18.jpg);
}

.picture19 {
  background-image: url(../image/Rectangle19.jpg);
}

.picture20 {
  background-image: url(../image/Rectangle20.jpg);
}

.picture21 {
  background-image: url(../image/Rectangle21.jpg);
}

.picture22 {
  background-image: url(../image/Rectangle22.jpg);
}

.picture23 {
  background-image: url(../image/Rectangle23.jpg);
}

.picture24 {
  background-image: url(../image/Rectangle24.jpg);
}

.picture25 {
  background-image: url(../image/Rectangle25.jpg);
}

.picture26 {
  background-image: url(../image/Rectangle26.jpg);
}

.picture27 {
  background-image: url(../image/Rectangle27.jpg);
}

.picture28 {
  background-image: url(../image/Rectangle28.jpg);
}

.picture29 {
  background-image: url(../image/Rectangle29.jpg);
}

.picture30 {
  background-image: url(../image/Rectangle30.jpg);
}

/* catalog section */
.catalog__container {
  padding-bottom: 0;
  padding-top: 39px;
}

.catalog__header {
  margin-bottom: -41px;
}

.catalog__title {
  margin-right: 30px;
}

.catalog__transfer {
  width: 450px;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab-nav__link {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: 2px solid rgba(157, 92, 208, 0);
}

.catalog__france {
  background: no-repeat center/70% url(../image/france.png);
}

.catalog__germany {
  background: no-repeat center/70% url(../image/germany.png);
}

.catalog__italy {
  background: no-repeat center/70% url(../image/italy.png);
}

.catalog__russia {
  background: no-repeat center/70% url(../image/russia.png);
}

@-webkit-keyframes border {
  0% {
    border-color: rgba(157, 92, 208, 0);
  }
  100% {
    border-color: #9d5cd0;
  }
}

@keyframes border {
  0% {
    border-color: rgba(157, 92, 208, 0);
  }
  100% {
    border-color: #9d5cd0;
  }
}

.is-active {
  -webkit-animation: border 1s ease-in;
  animation: border 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.catalog__spain {
  background: no-repeat center/70% url(../image/spain.png);
}

.catalog__description {
  display: none;
  max-width: 1080px;
  margin-bottom: 50px;
  margin-left: 2px;
  height: 117px;
  opacity: 0;
}

@-webkit-keyframes description {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes description {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.is-active__description {
  display: block;
  -webkit-animation: description 1s ease-in;
  animation: description 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.catalog__card.card {
  max-width: 751px;
  margin-right: 49px;
  padding-top: 477px;
  height: 770px;
  background-image: url(../image/catalog-Domeniko.jpg);
  background-size: 100% 470px;
  background-repeat: no-repeat;
}

.card__title {
  margin-bottom: 7px;
}

.card__date {
  display: block;
  margin-bottom: -8px;
}

.accordeon {
  max-width: 800px;
}

.accordeon-section {
  width: 100%;
  position: relative;
}

.accordeon-title {
  padding: 36px 0 45px 2px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #333333;
  cursor: pointer;
  text-align: left;
}

.accordeon-title--first {
  border-top: 1px solid #000;
}

.accordeon-title.active {
  border-bottom: none;
}

.accordeon-title::before {
  content: "";
  position: absolute;
  right: 10px;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-top: 10px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.accordeon-title::after {
  content: '';
  position: absolute;
  right: 0;
  top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #cecece;
  z-index: -2;
}

.accordeon-title:hover {
  color: var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordeon-title:hover::after {
  background-color: var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordeon-title:hover::before {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordeon-title:active::after {
  background-color: var(--second-color);
  border: 2px solid var(--extra-lite);
}

.accordeon-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.accordion-item {
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 28px 3px;
  width: 800px;
}

.accordeon-link {
  display: block;
  background: none;
  width: 260px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  color: #333333;
}

.accordeon-link:hover {
  color: var(--first-color);
}

.accordeon-section.js-section.active .accordeon-title {
  border-bottom: none;
}

.accordeon-section.js-section.active .accordeon-title::before {
  content: "";
  position: absolute;
  right: 10px;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-top: 17px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.accordeon-section.js-section.active .accordeon-title:hover::before {
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.accordeon-section.js-section.active .accordeon-content.js-content {
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
  max-height: 350px;
}

/* developments section */
.developments__container {
  padding-bottom: 80px;
  padding-top: 83px;
}

.developments__title {
  margin-bottom: -3px;
  margin-top: 0;
}

.developments_card {
  position: relative;
  width: 500px;
  margin-top: 14px;
  padding: 312px 18px 71px 49px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: top;
}

.developments_card:not(:nth-child(3n + 3)) {
  margin-right: 50px;
}

.developments_card .developments__header {
  margin-bottom: 0;
}

.developments_card .developments__signature {
  display: block;
  position: relative;
  text-align: right;
  margin-bottom: -21px;
}

.developments_card .developmets__descriptions {
  display: block;
  position: relative;
  width: 409px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-top: 3px;
}

.developments_card .developments__link {
  display: block;
  position: absolute;
  bottom: 40px;
  color: var(--first-color);
}

.developments_card .developments__link::after {
  content: "";
  display: block;
  position: relative;
  width: 92px;
  height: 2px;
  border-bottom: 1px solid var(--first-color);
}

.developments_card .developments__link:hover {
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.developments_card .developments__link:active {
  color: var(--second-color);
}

.developments_card .developments__link:focus {
  outline: 2px solid var(--second-color);
}

.card1 {
  background-image: url(../image/dev1.jpg);
}

.card2 {
  background-image: url(../image/dev2.jpg);
}

.card3 {
  background-image: url(../image/dev3.jpg);
}

.card4 {
  background-image: url(../image/dev4.jpg);
  display: none;
}

.card5 {
  background-image: url(../image/dev5.jpg);
  display: none;
}

.developments__news {
  margin-bottom: 52px;
}

.developments__btn {
  display: block;
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 34px;
  text-align: center;
  background: none;
  color: var(--first-color);
  border-radius: 100px;
  border: 2px solid var(--first-color);
}

.developments__btn:hover {
  background-color: var(--first-color);
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.developments__btn:active {
  border: 3px solid var(--extra-lite);
  background-color: var(--second-color);
}

/* editions section */
.editions__container {
  padding-bottom: 77px;
  padding-top: 41px;
}

.editions {
  background-image: url(../image/editions-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.editions__title {
  color: #ffffff;
}

.editions__blocks {
  margin-top: -39px;
}

.editions__check {
  display: none;
}

.editions__docket {
  display: block;
  margin-top: 21px;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.editions__label {
  position: relative;
  display: block;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #ffffff;
}

.editions__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-right: 19px;
  width: 12px;
  height: 12px;
  left: 0;
  bottom: 4px;
  background: none;
  border: 1px solid #ffffff;
}

input[type="checkbox"]:checked + .editions__label::before {
  content: "\00B7";
  font-size: 32px;
  text-align: center;
  line-height: 8px;
  color: var(--first-color);
  border-color: var(--first-color);
}

.editions__checkboks {
  margin-bottom: 38px;
}

.editions__price {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.editions__choice {
  width: 341px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
}

.editions__namber {
  width: 82px;
  border: none;
  padding-left: 10px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: var(--first-color);
}

.editions__namber::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber::-moz-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber:-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber::-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber--from {
  margin-left: 12px;
}

.editions__namber--to {
  margin-left: 9px;
}

.editions__input {
  margin-top: 7px;
  margin-left: 21px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-right: 9px;
}

.editions__number {
  width: 82px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans";
  background-color: var(--second-color);
  border: none;
  outline: none;
  padding-left: 10px;
}

.editions__number::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.editions__to {
  margin-left: 12px;
}

.editions__showing {
  margin-left: 110px;
  margin-top: -5px;
}

.editions__swiper-button2 {
  margin-left: -7px;
  margin-top: 6px;
}

.swiper-slide.editions__slider {
  display: block;
  position: relative;
  width: 347px;
  height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 390px;
}

.editions__name {
  position: absolute;
  bottom: 57px;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.editions__name span {
  font-weight: 400;
}

.editions__prise {
  display: block;
  position: absolute;
  right: 0;
  bottom: 78px;
  font-weight: 400;
  color: #ffffff;
}

.editions__order {
  margin-top: 471px;
  margin-right: 231px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: none;
  border: 2px solid var(--first-color);
  border-radius: 100px;
}

.editions__order:hover {
  background-color: var(--first-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.editions__order:active {
  background: var(--second-color);
  border: 3px solid var(--extra-lite);
}

.swiper-container#slider2 {
  max-width: 1145px;
}

.editions1 {
  background-image: url(../image/editions1.jpg);
}

.editions2 {
  background-image: url(../image/editions2.jpg);
}

.editions3 {
  background-image: url(../image/editions3.jpg);
}

.editions4 {
  background-image: url(../image/editions4.jpg);
}

.editions5 {
  background-image: url(../image/editions5.jpg);
}

.editions6 {
  background-image: url(../image/editions6.jpg);
}

.editions7 {
  background-image: url(../image/editions7.jpg);
}

/* projects section */
.projects__container {
  padding-bottom: 0;
  padding-top: 40px;
}

.projects__title {
  margin-bottom: 19px;
}

.projects__descriptions {
  max-width: 1080px;
  letter-spacing: 0.242px;
}

.projects__partners {
  line-height: 18px;
  margin-bottom: 8px;
}

.projects__tooltip svg {
  display: inline-block;
  position: relative;
  top: 5px;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;
}

.tooltip-toggle svg {
  height: 18px;
  width: 18px;
}

.tooltip-toggle::before {
  position: absolute;
  background-color: #cacaca;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  content: attr(aria-label);
  padding: 9px 11px 11px 11px;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 330px;
}

.tooltip1::before {
  top: -74px;
  left: -146px;
}

.tooltip1::after {
  top: -7px;
}

.tooltip2::before {
  top: -72px;
  left: -153px;
}

.tooltip2::after {
  top: -6px;
}

.tooltip3::before {
  top: -40px;
  left: -138px;
  width: 300px;
}

.tooltip3::after {
  top: -6px;
}

.tooltip-toggle::after {
  content: " ";
  position: absolute;
  left: 4px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cacaca;
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip-toggle::before, .tooltip-toggle::after {
  color: #efefef;
  font-family: monospace;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.tooltip-toggle:focus::before, .tooltip-toggle:focus::after {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.projects__link {
  color: var(--first-color);
}

.projects__link:hover {
  text-decoration: underline;
}

.projects__link:active {
  color: var(--second-color);
}

.swiper-slide.projects__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 152px;
  border: 1px solid #cacaca;
  filter: grayscale(100%);
  transition: 0.5s;
}

.swiper-slide.projects__slider:hover {
  filter: grayscale(0);
}

.swiper-container#slider3 {
  max-width: 1450px;
  margin-bottom: 80px;
}

.projects1 {
  background-image: url(../image/projects1.jpg);
}

.projects2 {
  background-image: url(../image/projects2.jpg);
}

.projects3 {
  background-image: url(../image/projects3.jpg);
}

.projects4 {
  background-image: url(../image/projects4.jpg);
}

.projects5 {
  background-image: url(../image/projects5.jpg);
}

.projects6 {
  background-image: url(../image/projects6.jpg);
}

.projects7 {
  background-image: url(../image/projects7.jpg);
}

.projects8 {
  background-image: url(../image/projects8.jpg);
}

.projects9 {
  background-image: url(../image/projects9.jpg);
}

.projects__swiper-button3.swiper-button {
  position: relative;
}

.projects__swiper-button3.swiper-button .swiper-button-prev.swiper-button-prev-st.button3-prev,
.projects__swiper-button3.swiper-button .swiper-button-next.swiper-button-next-st.button3-next {
  position: absolute;
  top: 105px;
  background: #ececec;
}

.projects__swiper-button3.swiper-button .swiper-button-prev.swiper-button-prev-st.button3-prev::after,
.projects__swiper-button3.swiper-button .swiper-button-next.swiper-button-next-st.button3-next::after {
  color: #000000;
}

.projects__swiper-button3.swiper-button .swiper-button-prev.swiper-button-prev-st.button3-prev:active,
.projects__swiper-button3.swiper-button .swiper-button-next.swiper-button-next-st.button3-next:active {
  background-color: var(--first-color);
  border: 2px solid var(--second-color);
}

.projects__swiper-button3.swiper-button .swiper-button-prev.swiper-button-prev-st.button3-prev:hover,
.projects__swiper-button3.swiper-button .swiper-button-next.swiper-button-next-st.button3-next:hover {
  background-color: var(--first-color);
}

.contacts__title {
  margin-bottom: 14px;
}

/* contacts section */
.contacts {
  position: relative;
  margin-top: 12px;
  border-top: 1px solid #cacaca;
}

.contacts .contacts__container {
  padding-top: 0;
  padding-bottom: 0;
}

.contacts .contacts__container .contacts__block {
  padding-top: 99px;
  padding-bottom: 123px;
}

.contacts .contacts__container .contacts__block .contacts_name {
  display: block;
  margin-bottom: 7px;
}

.contacts .contacts__container .contacts__block .contacts__address {
  display: block;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
}

.contacts .contacts__container .contacts__block .contacts__odrercall,
.contacts .contacts__container .contacts__block .contacts__docket {
  display: block;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.contacts .contacts__container .contacts__block .contacts__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 400px;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__input {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-radius: 100px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__tel {
  margin-bottom: 22px;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button {
  width: 157px;
  height: 59px;
  margin-bottom: 38px;
  background: none;
  border: 2px solid var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--first-color);
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button:hover {
  background-color: var(--first-color);
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button:focus {
  background-color: var(--second-color);
  border-color: var(--extra-lite);
}

.contacts .contacts__container .contacts__block .js-validate-error-label {
  font-size: 12px;
  margin-bottom: 7px;
}

.contacts .contacts__container .contacts__block .contacts__input.js-validate-error-field {
  margin-bottom: 7px !important;
  border: 2px solid #b81111 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.contacts .contacts__container .contacts__whats {
  margin-right: 15px;
}

.contacts .contacts__map.map {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
}

.contacts .contacts__map.map .map__right {
  border-left: 2px solid #cacaca;
  height: 700px;
  width: 64.76vw;
}

.contacts .contacts__map.map .map__left {
  width: 35.24vw;
  height: 100%;
  z-index: -100;
}

.contacts [class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.contacts .ymaps-2-1-77-copyright__link,
.contacts .ymaps-2-1-77-map-copyrights-promo,
.contacts .ymaps-2-1-77-copyright.ymaps-2-1-77-copyright_logo_no {
  display: none;
}

/* footer */
.footer {
  height: 140px;
  width: 100%;
  background-color: #000000;
}

.footer__link {
  width: 47px;
  height: 47px;
}

.footer__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 15px;
  height: 140px;
}

.footer__item:not(:last-child) {
  margin-right: 18px;
}

/* menu */
.nav-toggle {
  display: none;
  position: relative;
  margin-top: 4px;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  width: 29px;
  right: 5px;
  height: 2px;
  background: #ffffff;
}

.nav-toggle span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 13px;
  width: 32px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-toggle span::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 12px;
  width: 25px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-toggle:hover span {
  height: 0;
}

.nav-toggle:hover span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  width: 32px;
  background-color: var(--first-color);
}

.nav-toggle:hover span::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: -2px;
  background-color: var(--first-color);
}

.nav-toggle.active {
  display: none;
}

.header__container-menu {
  height: 101px;
  width: 100%;
  background-color: #000000;
}

.close__line {
  position: absolute;
  left: -5px;
  top: 22px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.close__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close__line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__close {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  z-index: 100;
}

.header__close:focus {
  outline: none;
}

.header__close:hover {
  border: none;
  background: none;
}

.header__close:hover .close__line {
  background-color: var(--first-color);
}

.menu-toggle {
  background-color: var(--first-color);
  position: fixed;
  left: -250vw;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 15;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.menu--showed {
  left: 0;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.menu-nav {
  margin-left: 25%;
  margin-top: 15px;
}

.menu-nav__link {
  display: inline-block;
  color: #ffffff;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu-nav__link:hover {
  color: var(--second-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1650px) {
  .container {
    width: 1400px;
  }
  .header__item--down:not(:last-child) {
    margin-right: 85px;
  }
  .header__logo {
    margin-right: 110px;
  }
  .header__item:not(:last-child) {
    margin-right: 55px;
  }
  .header__nav {
    margin-right: 20px;
  }
  .swiper-container#slider1 {
    width: 1000px;
    height: 610px;
  }
  .swiper-slide.gallery__slider {
    height: 280px;
  }
  .swiper-slide.gallery__slider::after {
    width: 265px;
    height: 254px;
  }
  .choices,
  .choices__inner {
    width: 350px;
  }
  /* catalog section */
  .catalog__card.card {
    max-width: 650px;
    padding-top: 400px;
    height: 730px;
    background-size: 100% 400px;
  }
  .catalog__artists.accordeon {
    max-width: 697px;
  }
  .swiper-container#slider2 {
    max-width: 900px;
  }
  .developments_card {
    padding: 318px 18px 91px 49px;
    width: 430px;
  }
  .developments_card:not(:nth-child(3n + 3)) {
    margin-right: 40px;
  }
  .developments_card .developmets__descriptions {
    width: 333px;
  }
  .editions__order {
    margin-right: 145px;
  }
  .swiper-container#slider3 {
    max-width: 1250px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1430px) {
  .container {
    width: 955px;
  }
  .header__container--up {
    padding-top: 29px;
    padding-bottom: 28px;
  }
  .header__logo {
    margin-bottom: 0;
    margin-right: 9px;
    width: 187px;
    height: 45px;
  }
  .header__secondary {
    display: none;
  }
  .first__header {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 6px;
  }
  .header__admission {
    display: none;
    z-index: 100;
  }
  .header__admission.active-reversed {
    display: block;
  }
  .header__magnifier {
    display: block;
    margin-right: -9px;
    background: none;
    border: none;
  }
  .header__magnifier .header__magnifier--lupe {
    width: 31px;
    height: 31px;
  }
  .header__magnifier:hover svg rect,
  .header__magnifier:hover svg path {
    fill: var(--first-lite);
    transition: all 1s;
  }
  .header__magnifier:active svg rect,
  .header__magnifier:active svg path {
    fill: var(--second-color);
  }
  .header__magnifier.active {
    display: none;
  }
  /* first section */
  .first .first__container {
    padding-top: 51px;
    padding-bottom: 114px;
  }
  .first .first__title {
    margin-bottom: -7px;
  }
  .first .first__description {
    max-width: 693px;
    margin-bottom: 134px;
  }
  .first__block-up {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
  }
  .aboutUs__container {
    padding-bottom: 53px;
  }
  .gallery .gallery__container {
    padding-bottom: 54px;
  }
  .swiper-container#slider1 {
    width: 600px;
  }
  .choices,
  .choices__inner {
    width: 280px;
  }
  .gallery__description {
    max-width: 280px;
    margin-top: -182px;
  }
  /* catalog section */
  .catalog__header {
    margin-bottom: -39px;
  }
  .catalog__transfer {
    width: 450px;
    margin-top: 52px;
  }
  .catalog__card.card {
    padding-top: 279px;
    max-width: 437px;
    height: 700px;
    background-image: url(../image/Girlandajo.jpg);
    background-size: 100% 274px;
    background-repeat: no-repeat;
  }
  .catalog__artists.accordeon {
    max-width: 437px;
  }
  .accordion-item {
    width: 560px;
  }
  .accordeon-link {
    width: 230px;
  }
  .catalog__description {
    letter-spacing: -0.2px;
  }
  .catalog__title {
    margin-right: 32px;
  }
  /* developments section */
  .developments__container {
    padding-bottom: 78px;
  }
  .developments_card {
    max-width: 290px;
    min-height: 683px;
    padding: 211px 16px 91px 35px;
    background-size: 100% 200px;
  }
  .developments_card:not(:nth-child(3n + 3)) {
    margin-right: 27px;
  }
  .developments_card .developments__signature {
    margin-bottom: -19px;
  }
  .developments_card .developmets__descriptions {
    letter-spacing: 0.1px;
    width: 223px;
  }
  .developments_card .developments__link {
    bottom: 50px;
  }
  .card1 {
    background-image: url(../image/event1-2.jpg);
  }
  .card2 {
    background-image: url(../image/event2-2.jpg);
  }
  .card3 {
    background-image: url(../image/event3-2.jpg);
  }
  .card4 {
    background-image: url(../image/event4-2.jpg);
  }
  .card5 {
    background-image: url(../image/event5-2.jpg);
  }
  .developments__news {
    margin-bottom: 49px;
  }
  /* editions section */
  .swiper-container#slider2 {
    max-width: 630px;
  }
  .swiper-slide.editions__slider {
    width: 320px;
    height: 430px;
    background-size: 100% 320px;
    margin-right: 57px;
  }
  .editions__container {
    position: relative;
    padding-bottom: 10px;
  }
  .editions__choice {
    position: absolute;
    left: 599px;
    top: 105px;
  }
  .editions__price {
    position: absolute;
    right: 371px;
    top: 113px;
  }
  .editions__order {
    margin-right: 171px;
    margin-top: 390px;
  }
  .editions__checkboks {
    margin-bottom: 104px;
    width: 250px;
  }
  .editions__label {
    margin-bottom: 10px;
  }
  .editions__swiper-button2 {
    margin-left: -9px;
  }
  .editions__block--left {
    width: 250px;
  }
  .editions__showing {
    margin-left: 49px;
    margin-top: 0;
  }
  /* projects section */
  .projects__container {
    padding-bottom: 4px;
  }
  .projects__title {
    margin-bottom: 13px;
  }
  .projects__descriptions {
    max-width: 925px;
    letter-spacing: -0.1px;
    margin-bottom: 27px;
  }
  .tooltip1::before {
    top: -57px;
  }
  .swiper-container#slider3 {
    max-width: 818px;
    margin-bottom: 80px;
    height: 128px;
  }
  .swiper-slide.projects__slider {
    height: 128px;
  }
  .swiper-button-prev.swiper-button-prev-st.button3-prev {
    margin-top: -33px;
  }
  .swiper-button-next.swiper-button-next-st.button3-next {
    margin-top: -33px;
  }
  /* contacts section */
  .contacts__title {
    margin-bottom: 2px;
  }
  .contacts__container {
    max-height: 700px;
  }
  .contacts .contacts__container .contacts__block {
    width: 382px;
    padding-top: 100px;
  }
  .contacts .contacts__container .contacts__block .contacts__form {
    width: 335px;
  }
  .contacts .contacts__map.map .map__left {
    width: 47.3vw;
  }
  .contacts .contacts__map.map .map__right {
    width: 52.7vw;
  }
}

@media (max-width: 970px) {
  .container {
    width: 698px;
  }
  .nav-toggle span {
    top: 17px;
  }
  .header__container {
    padding-bottom: 26px;
    padding-top: 29px;
  }
  .header__container .header__logo {
    margin-left: 7px;
  }
  .header__container .header__magnifier .header__magnifier--lupe {
    margin-right: 13px;
  }
  .first .first__container {
    padding-top: 50px;
    padding-bottom: 115px;
  }
  .first__description {
    letter-spacing: -0.1px;
    margin-bottom: 135px;
  }
  .aboutUs__container {
    padding-bottom: 51px;
  }
  .aboutUs__container .aboutUs__description {
    max-width: 666px;
    letter-spacing: -0.1px;
  }
  .gallery__block {
    flex-wrap: wrap;
  }
  .gallery__choice {
    margin-bottom: 140px;
  }
  .gallery__showing {
    margin-top: 0;
    margin-bottom: -4px;
  }
  .gallery__swiper-button1.swiper-button {
    margin-bottom: 10px;
  }
  .swiper-container#slider1 {
    width: 668px;
  }
  .swiper-button-next-st,
  .swiper-button-prev-st {
    top: -28px;
  }
  .swiper-button-prev-st {
    left: -1px;
  }
  .swiper-button-next-st {
    right: 6px;
  }
  .swiper-pagination-st {
    top: -26px;
  }
  .gallery__description {
    max-width: 668px;
    margin-top: 0;
  }
  .catalog__container {
    padding-bottom: 7px;
  }
  .catalog__header {
    margin-bottom: -38px;
  }
  .catalog__transfer {
    margin-top: 43px;
  }
  .catalog__description {
    margin-left: 0;
  }
  li.catalog__language {
    margin-right: -15px;
  }
  .catalog__description {
    width: 669px;
    margin-bottom: 95px;
  }
  .catalog__content {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .catalog__artists.accordeon {
    max-width: 668px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .catalog__artists.accordeon .accordeon-section {
    width: 100%;
  }
  .catalog__artists.accordeon .accordeon-section .accordion-item.flex {
    width: 100%;
  }
  .catalog__artists.accordeon .accordeon-section .accordion-item.flex .accordeon-link {
    width: 210px;
  }
  .catalog__card.card {
    max-width: 668px;
    width: 100%;
    height: 727px;
    padding-top: 424px;
    margin-right: 0;
    background-image: url(../image/Giraldajo2.jpg);
    background-size: 100% 419px;
  }
  .developments__container {
    padding-top: 78px;
    padding-bottom: 86px;
  }
  .developments__title {
    margin-top: -3px;
  }
  .developments_card {
    max-width: 317px;
    padding-bottom: 87px;
  }
  .developments_card:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .developments_card:not(:nth-child(2n + 2)) {
    margin-right: 34px;
  }
  .card3 {
    display: none;
  }
  .developments_card .developments__signature {
    margin-bottom: -16px;
  }
  .developments__news {
    margin-bottom: 50px;
  }
  .editions__container {
    padding-bottom: 78px;
  }
  .editions__blocks {
    flex-wrap: wrap;
  }
  .editions__blocks .editions__block--left {
    padding-top: 30px;
    width: 100%;
  }
  .editions__checkboks {
    margin-bottom: 104px;
    padding-top: 20px;
    width: 100%;
  }
  .editions__checkboks span {
    position: absolute;
    top: 166px;
    margin-top: 0;
  }
  .editions__list {
    display: flex;
  }
  .editions__list .editions__list--1 {
    width: 134px;
    margin-right: 57px;
  }
  .editions__list .editions__list--2 {
    width: 297px;
    margin-right: 43px;
  }
  .editions__list .editions__list--3 {
    width: 222px;
  }
  .editions__label {
    margin-bottom: 11px;
  }
  .editions__price {
    top: 351px;
    left: 15px;
  }
  .editions__choice {
    left: 14px;
    top: 386px;
  }
  .swiper-container#slider2 {
    max-width: 614px;
  }
  .swiper-slide.editions__slider {
    height: 436px;
  }
  .editions__order {
    margin-top: 394px;
  }
  .editions__swiper-button2 {
    margin-left: -33px;
  }
  .editions__showing {
    margin-left: 26px;
    margin-top: 70px;
  }
  .tooltip3::before {
    top: -57px;
  }
  .tooltip1::before {
    top: -73px;
  }
  .projects__descriptions {
    letter-spacing: 0.4px;
    margin-bottom: 33px;
  }
  .projects__partners {
    margin-bottom: 4px;
  }
  .swiper-container#slider3 {
    max-width: 562px;
    margin-bottom: 80px;
    margin-top: 7px;
    height: 106px;
  }
  .swiper-slide.projects__slider {
    height: 106px;
  }
  .swiper-button-prev.swiper-button-prev-st.button3-prev,
  .swiper-button-next.swiper-button-next-st.button3-next {
    margin-top: -38px;
  }
  .contacts__title {
    margin-bottom: 0px;
  }
  .contacts .contacts__map.map .map__left {
    width: 55.8vw;
  }
  .contacts .contacts__map.map .map__right {
    width: 44.2vw;
  }
  .contacts .contacts__container .contacts__block .contacts_name {
    margin-bottom: 6px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 500px;
  }
  .editions__slider.swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .swiper-container#slider2 {
    max-width: 400px;
  }
  .swiper-slide.editions__slider {
    height: 436px;
    width: 300px;
  }
}
