* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --first-color: #9d5cd0;
  --first-lite: #c283f3;
  --extra-lite: #d1a9f0;
  --second-color: #7943a4;
  --Black: #000000;
  --Wight: #ffffff;
  --Grey: #cacaca;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: 2px solid #7943a4;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.24px;
  color: #333333;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}

.signature {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #999999;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 80px;
}

/* header */

.header {
  max-height: 100px;
  background-color: #000000;
  z-index: 100;
}

.header__container {
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}

.header__logo {
  padding: 30px 0 37px 0;
  margin-right: -36px;
}

.header__nav {
  margin-bottom: 10px;
}

.header__item {
  margin-right: 62px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header__link:hover {
  color: var(--first-lite);
}

.header__link:active {
  color: var(--second-color);
}

.header__admission {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.header__admission svg {
  margin-right: 7px;
}

.header__admission:hover {
  color: var(--first-lite);
}

.header__admission:hover svg path {
  fill: var(--first-lite);
}

.header__admission:active {
  color: var(--second-color);
}

.header__admission:active svg path {
  fill: var(--second-color);
}

/* first section */

.background__swiper.swiper-container.swiper-container-initialized.swiper-container-horizontal {
  z-index: -10;
  position: absolute;
  width: 100vw;
}

.background__first {
  display: block;
  position: relative;
  height: 800px;
  z-index: -11;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: backgroundAnimation 120s ease-in-out infinite;
}

.background1 {
  background-image: url(../image/birmingham-museums-trust.jpg);
}

.background2 {
  background-image: url(../image/bacground2.jpg);
}

.background3 {
  background-image: url(../image/background3.jpg);
}

@keyframes backgroundAnimation {
  from {
    background-size: 100% 100%;
  }

  25% {
    background-size: 106% 106%;
  }

  50% {
    background-size: 103% 103%;
  }

  75% {
    background-size: 105% 105%;
  }
  to {
    background-size: 100% 100%;
  }
}

.first {
  height: 700px;
  background: transparent;
  z-index: -1;
}

.first__container {
  padding-top: 0;
}

.first__header {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.first__container {
  justify-content: space-between;
}

.first__block-up {
  justify-content: space-between;
}

.first__item {
  margin-right: 102px;
  margin-top: 23px;
}

.first__style {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.first__style::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 4px;
  margin-bottom: 5px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}

.first__artist {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.first__choice {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: -50px;
  margin-top: 23px;
  padding: 40px 40px;
  z-index: 10;
  transition: 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: 0 0;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.simplebar-scrollbar::before {
  background: var(--first-color);
  transition: opacity 0.2s linear;
  left: 0;
  right: 2px;
  width: 3px;
}

.first__performer {
  position: relative;
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.first__performer1,
.first__performer3,
.first__performer5,
.first__performer7,
.first__performer9,
.first__performer11 {
  background-image: url(../image/first-choice1.jpg);
}

.first__performer2,
.first__performer4,
.first__performer6,
.first__performer8,
.first__performer10,
.first__performer12 {
  background-image: url(../image/first-choice3.jpg);
}

.first__artist {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 0 7px 14px;
  width: 220px;
  height: 40px;
  color: #ffffff;
}

.first__item:hover .first__choice {
  transform: scaleY(1);
}

.first__style:hover:after {
  border-left: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}

.first__style:hover {
  color: var(--first-color);
}

.first__style:active:after {
  margin-bottom: 0;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid var(--second-color);
  border-top: 1px solid var(--second-color);
}

.first__style:active {
  color: var(--second-color);
}

.first__artist:active {
  background-color: var(--first-color);
  opacity: 0.3;
}

.first__title {
  display: block;
  position: relative;
  margin-top: 94px;
  margin-left: -5px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.3px;
  line-height: 83px;
  color: #ffffff;
}

.first__description {
  max-width: 597px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.first__subscription {
  margin-top: 92px;
  margin-bottom: 122px;
  align-items: center;
  padding: 17px 35px;
  width: 314px;
  height: 70px;
  background: var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.first__subscription:hover {
  border: 3px solid var(--extra-lite);
}

.first__subscription:focus {
  background: var(--first-color);
  border: 3px solid var(--second-color);
}

.first__subscription:active {
  background: var(--second-color);
  border: 3px solid var(--extra-lite);
}

.first__search {
  position: relative;
  margin-top: 10px;
  margin-right: -9px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-right: 2px;
}

.first__search-input {
  margin-top: 11px;
  width: 218px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  border-right: none;
  border-left: none;
  border-top: none;
  background: none;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.first__search-input:focus {
  outline: none;
}

.first__magnifier {
  position: absolute;
  left: 6px;
  top: 29%;
}

.first__search:focus-within {
  outline: 1px solid var(--first-color);
}

.first__search:hover input {
  border-bottom: 1px solid var(--first-lite);
}

.first__search:active input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.first__search:hover svg rect,
.first__search:hover svg path {
  fill: var(--first-lite);
}

.first__search:active svg rect,
.first__search:active svg path {
  fill: var(--second-color);
}

/* aboutUs section */

.aboutUs {
  height: 455px;
  background: #e5e5e5;
}

.aboutUs__description {
  margin-top: 18px;
  max-width: 1080px;
}

/* gallery section */

.gallery {
  height: 995px;
  background-image: url(../image/backg_gallary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}

.gallery__block {
  flex-wrap: wrap;
}

.gallery__choice {
  margin-right: 47px;
  margin-left: 3px;
}

.gallery__docket {
  display: block;
  margin-top: 23px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.choices__inner {
  width: 400px;
  min-height: 40px;
  border-radius: 10px;
  background: none;
  padding: 4px 15px 4px 9px;
  border: 1px solid #ffffff;
  letter-spacing: 1.4px;
  color: #ffffff;
  padding-right: 15px;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  background: none;
  border: none;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.choices__placeholder.choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__list--dropdown {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: "";
}

.choices__list {
  color: #ffffff;
}

.choices__list--dropdown .choices__item {
  padding-left: 15px;
}

.choices__placeholder {
  opacity: 1;
}

div[data-id="1"] {
  display: none;
}

div[data-custom-properties="[object Object]"] {
  display: block;
}

.choices[data-type*="select-one"]:after {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  transform: rotate(-45deg);
}

.choices[data-type*="select-one"].is-open:after {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}

.gallery__description {
  max-width: 401px;
  margin-top: 554px;
  margin-left: -5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.gallery__description span {
  color: var(--first-color);
}

.swiper-container#slider1 {
  width: 1150px;
  height: 750px;
}

.swiper-button-next-st {
  right: 1px;
}

.swiper-button-prev-st {
  left: 5px;
}

.swiper-button-next-st,
.swiper-button-prev-st {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border-radius: 50%;
  text-align: center;
  padding: 3px 10px;
  top: -35px;
}

.swiper-button-next-st:after,
.swiper-button-prev-st:after {
  font-size: 12px;
  color: #ffffff;
}

.swiper-button-disabled {
  background-color: rgba(223, 223, 223, 0.5);
}

.swiper-pagination-st {
  position: relative;
  display: inline-block;
  top: -35px;
  right: 30px;
  max-width: 70px;
}

.swiper-pagination-st.swiper-pagination-fraction {
  color: #ffffff;
  font-size: 14px;
}

.gallery__swiper .swiper-wraper .swiper-slider {
  max-width: 350px !important;
}

.swiper-slide.gallery__slider {
  display: block;
  position: relative;
  height: 347px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide.gallery__slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--extra-lite);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.swiper-slide.gallery__slider::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 310px;
  height: 310px;
  background-image: url(../image/hover-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.swiper-slide.gallery__slider:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.swiper-slide.gallery__slider:active::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.swiper-slide.gallery__slider:active::before {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.picture1 {
  background-image: url(../image/Rectangle.jpg);
}

.picture2 {
  background-image: url(../image/Rectangle2.jpg);
}

.picture3 {
  background-image: url(../image/Rectangle3.jpg);
}

.picture4 {
  background-image: url(../image/Rectangle4.jpg);
}

.picture5 {
  background-image: url(../image/Rectangle5.jpg);
}

.picture6 {
  background-image: url(../image/Rectangle6.jpg);
}

.picture7 {
  background-image: url(../image/Rectangle7.jpg);
}

.picture8 {
  background-image: url(../image/Rectangle8.jpg);
}

.picture9 {
  background-image: url(../image/Rectangle9.jpg);
}

.picture10 {
  background-image: url(../image/Rectangle10.jpg);
}

.picture11 {
  background-image: url(../image/Rectangle11.jpg);
}

.picture12 {
  background-image: url(../image/Rectangle12.jpg);
}

.picture13 {
  background-image: url(../image/Rectangle13.jpg);
}

.picture14 {
  background-image: url(../image/Rectangle14.jpg);
}

.picture15 {
  background-image: url(../image/Rectangle15.jpg);
}

.picture16 {
  background-image: url(../image/Rectangle16.jpg);
}

.picture17 {
  background-image: url(../image/Rectangle17.jpg);
}

.picture18 {
  background-image: url(../image/Rectangle18.jpg);
}

.picture19 {
  background-image: url(../image/Rectangle19.jpg);
}

.picture20 {
  background-image: url(../image/Rectangle20.jpg);
}

.picture21 {
  background-image: url(../image/Rectangle21.jpg);
}

.picture22 {
  background-image: url(../image/Rectangle22.jpg);
}

.picture23 {
  background-image: url(../image/Rectangle23.jpg);
}

.picture24 {
  background-image: url(../image/Rectangle24.jpg);
}

.picture25 {
  background-image: url(../image/Rectangle25.jpg);
}

.picture26 {
  background-image: url(../image/Rectangle26.jpg);
}

.picture27 {
  background-image: url(../image/Rectangle27.jpg);
}

.picture28 {
  background-image: url(../image/Rectangle28.jpg);
}

.picture29 {
  background-image: url(../image/Rectangle29.jpg);
}

.picture30 {
  background-image: url(../image/Rectangle30.jpg);
}

/* catalog section */

.catalog__title {
  margin-right: 35px;
}

.catalog__transfer {
  width: 450px;
  justify-content: space-between;
}

.catalog__language button {
  height: 66px;
  width: 66px;
  border-radius: 50%;
}

.catalog__france {
  background: no-repeat center/70% url(../image/france.png);
}

.catalog__germany {
  background: no-repeat center/70% url(../image/germany.png);
}

.catalog__italy {
  background: no-repeat center/70% url(../image/italy.png);
}

.catalog__russia {
  border: 2px solid var(--first-color);
  background: no-repeat center/70% url(../image/russia.png);
}

.catalog__spain {
  background: no-repeat center/70% url(../image/spain.png);
}

.catalog__description {
  max-width: 1080px;
  margin-top: 9px;
  margin-left: 2px;
}

.catalog__content {
  margin-top: 40px;
}

.catalog__card.card {
  max-width: 750px;
  height: 770px;
  background-image: url(../image/catalog-Domeniko.jpg);
  background-size: 100% 470px;
  background-repeat: no-repeat;
}

.card__title {
  margin-top: 500px;
}

.card__date {
  display: block;
  margin-top: 7px;
}

.card__description {
  margin-top: 8px;
}

.accordeon {
  width: 800px;
  margin-left: 49px;
  margin-top: 4px;
}

.accordeon-section {
  width: 100%;
  position: relative;
}

.accordeon-title {
  padding: 36px 0 44px 0px;
  width: 100%;
  border-bottom: 1px solid black;
  background: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #333333;
  cursor: pointer;
  text-align: left;
  background-image: url(../image/Ellipse.png);
  background-size: 50px 50px;
  background-position: right center;
  background-repeat: no-repeat;
}

.accordeon-title--first {
  border-top: 1px solid#000;
}

.accordeon-title.active {
  border-bottom: none;
}

.accordeon-title::before {
  content: "";
  position: absolute;
  right: 10px;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-top: 10px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
}

.accordeon-title:focus {
}

.accordeon-title:hover {
}

.accordeon-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.accordion-item {
  position: relative;
  flex-wrap: wrap;
  padding: 20px 20px;
  width: 770px;
}

.accordeon-link {
  display: block;
  background: none;
  width: 230px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  color: #333333;
}

.accordeon-section.js-section.active .accordeon-title {
  border-bottom: none;
}

.accordeon-section.js-section.active .accordeon-content.js-content {
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
  max-height: 350px;
}

.accordeon-section.js-section.active .accordeon-title::before {
  content: "";
  position: absolute;
  right: 10px;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-top: 17px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-left: none;
  border-bottom: none;
  transform: rotate(-45deg);
}

/* developments section */

.developments__news {
  flex-wrap: wrap;
}

.developments_card {
  position: relative;
  width: 500px;
  height: 700px;
  margin-top: 19px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 42.8%;
}

.card1 {
  background-image: url(../image/dev1.jpg);
}
.card2 {
  background-image: url(../image/dev2.jpg);
}
.card3 {
  background-image: url(../image/dev3.jpg);
}

.developments_card:not(:nth-child(3n + 3)) {
  margin-right: 50px;
}

.developments__signature {
  display: block;
  position: relative;
  margin-top: 313px;
  margin-right: 17px;
  text-align: right;
}

.developments__header {
  max-width: 420px;
  margin-left: 50px;
}

.developmets__descriptions {
  display: block;
  position: relative;
  max-width: 410px;
  margin-left: 53px;
  margin-top: 3px;
}

.developments__link {
  display: block;
  position: absolute;
  margin-left: 50px;
  bottom: 43px;
  color: var(--first-color);
}

.developments__link::after {
  content: "";
  display: block;
  position: relative;
  width: 92px;
  height: 2px;
  border-bottom: 1px solid var(--first-color);
}

.developments__btn {
  display: block;
  position: relative;
  margin: 49px auto 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 34px;
  text-align: center;
  background: none;
  color: var(--first-color);
  border-radius: 100px;
  border: 2px solid var(--first-color);
}

/* editions section */

.editions {
  background-image: url(../image/editions-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  max-height: 766px;
}

.editions__title {
  color: #ffffff;
}

.editions__checkboks {
  flex-direction: column;
}

.editions__check {
  display: none;
}

.editions__docket {
  margin-top: 23px;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.editions__label {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #ffffff;
}

.editions__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-right: 19px;
  width: 12px;
  height: 12px;
  left: 0;
  bottom: 4px;
  background: none;
  border: 1px solid #ffffff;
}

input[type="checkbox"]:checked + .editions__label::before {
  content: "	\00B7";
  font-size: 32px;
  text-align: center;
  line-height: 8px;
  color: var(--first-color);
  border-color: var(--first-color);
}

.editions__price {
  display: block;
  margin-top: 29px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.editions__choice {
  width: 341px;
  height: 40px;
  left: 160px;
  top: 5416px;
  margin-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
}

.editions__namber {
  width: 82px;
  border: none;
  padding-left: 10px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: var(--first-color);
}

.editions__namber::placeholder {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__namber--from {
  margin-left: 12px;
}

.editions__namber--to {
  margin-left: 9px;
}

.editions__from,
.editions__to {
  margin-top: 7px;
  margin-left: 18px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.editions__to {
  margin-left: 13px;
}

.editions__showing {
  margin-left: 110px;
}

.editions__swiper-button2 {
  margin-left: -7px;
  margin-top: 6px;
}

.swiper-slide.editions__slider {
  display: block;
  position: relative;
  width: 347px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 390px;
}

.editions__name {
  position: absolute;
  bottom: 57px;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.editions__autor {
  font-weight: 400;
}

.editions__prise {
  display: block;
  position: absolute;
  right: 0;
  bottom: 78px;
  font-weight: 400;
  color: #ffffff;
}

.editions__order {
  margin-top: 471px;
  margin-right: 231px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: none;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
}

.swiper-container#slider2 {
  width: 1150px;
  height: 592px;
}

.editions1 {
  background-image: url(../image/editions1.jpg);
}

.editions2 {
  background-image: url(../image/editions2.jpg);
}

.editions3 {
  background-image: url(../image/editions3.jpg);
}

.editions4 {
  background-image: url(../image/editions4.jpg);
}

.editions5 {
  background-image: url(../image/editions5.jpg);
}

.editions6 {
  background-image: url(../image/editions6.jpg);
}

.editions7 {
  background-image: url(../image/editions7.jpg);
}

/* projects section */

.projects__descriptions {
  max-width: 1080px;
  margin-top: 15px;
}

.projects__tooltip svg {
  display: inline-block;
  position: relative;
  top: 5px;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;
}
.tooltip-toggle svg {
  height: 18px;
  width: 18px;
}
.tooltip-toggle::before {
  position: absolute;
  background-color: #cacaca;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  content: attr(aria-label);
  padding: 11px 11px 17px 11px;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 330px;
}

.tooltip1::before {
  top: -82px;
  left: -146px;
}

.tooltip1::after {
  top: -7px;
}

.tooltip2::before {
  top: -81px;
  left: -153px;
}

.tooltip2::after {
  top: -6px;
}

.tooltip3::before {
  top: -66px;
  left: -138px;
  width: 296px;
}

.tooltip3::after {
  top: -6px;
}

.tooltip-toggle::after {
  content: " ";
  position: absolute;
  left: 4px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cacaca;
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}
.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #efefef;
  font-family: monospace;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.projects__link {
  color: var(--first-color);
}

.projects__slider {
  width: 1600px;
  margin: 0 auto;
}

.projects__partners {
  margin-top: 20px;
  margin-left: 11px;
}

.swiper-slide.projects__slider {
  display: block;
  position: relative;
  width: 450px;
  height: 150px;
  border: 1px solid #cacaca;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-container#slider3 {
  width: 1450px;
  height: 230px;
}

.projects1 {
  background-image: url(../image/projects1.jpg);
}

.swiper-slide.projects__slider:hover .projects1 {
  background-image: url(../image/projects1-1.jpg);
}

.projects2 {
  background-image: url(../image/projects2.jpg);
}

.projects3 {
  background-image: url(../image/projects3.jpg);
}

.projects4 {
  background-image: url(../image/projects4.jpg);
}

.projects5 {
  background-image: url(../image/projects5.jpg);
}

.projects6 {
  background-image: url(../image/projects6.jpg);
}

.projects7 {
  background-image: url(../image/projects7.jpg);
}

.projects8 {
  background-image: url(../image/projects8.jpg);
}

.projects9 {
  background-image: url(../image/projects9.jpg);
}

.projects__swiper-button3.swiper-button {
  position: relative;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev,
.swiper-button-next.swiper-button-next-st.button3-next {
  position: absolute;
  top: 105px;
  background: #ececec;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev::after,
.swiper-button-next.swiper-button-next-st.button3-next::after {
  color: #000000;
}

.swiper-button-next.swiper-button-next-st.button3-next {
  right: 13px;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev {
  left: 13px;
}

/* contacts section */

.contacts__container {
  padding-top: 0;
  max-width: 1920px;
}

.contacts__title {
  margin-left: 10px;
}

.contacts {
  margin-top: 18px;
  border: 1px solid #cacaca;
}

.contacts__block {
  width: 476px;
  height: 700px;
  margin-left: 160px;
}

.contacts_name {
  display: block;
  margin-top: 121px;
  margin-left: 8px;
}

.contacts__address {
  display: block;
  margin-top: 7px;
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
}

.contacts__docket {
  display: block;
  margin-left: 8px;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.contacts__odrercall {
  margin-top: 34px;
}

.contacts__form {
  flex-direction: column;
  position: relative;
  margin-left: 8px;
  padding-top: 14px;
  width: 400px;
}

.contacts__input {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.contacts__tel {
  margin-top: 24px;
}

.contacts__button {
  width: 157px;
  height: 59px;
  margin-top: 22px;
  background: none;
  border: 2px solid var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--first-color);
}

.js-validate-error-label {
  font-size: 12px;
}

.contacts__input.js-validate-error-field {
  border: 2px solid rgb(184, 17, 17) !important;
  box-sizing: border-box !important;
}

.contacts__tweet {
  margin-top: 38px;
}

.contacts__whats {
  display: inline-block;
  margin-top: 15px;
  margin-left: 8px;
}

.contacts__teleg {
  margin-left: 15px;
}

.map {
  width: 1220px;
  height: 700px;
  border-left: 1px solid #cacaca;
  margin-left: 58px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-77-copyright__link,
.ymaps-2-1-77-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-77-copyright.ymaps-2-1-77-copyright_logo_no {
  display: none;
}

/* footer */

.footer {
  height: 140px;
  width: 100%;
  background-color: #000000;
}

.footer__link {
  width: 47px;
  height: 47px;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 140px;
}

.footer__logo {
  display: block;
  margin-left: 10px;
}

.footer__social {
  margin-right: -10px;
}

.footer__link {
  margin-left: 19px;
}
