@media (max-width: 1430px) {
  .container {
    width: 955px;
  }
  .header__container--up {
    padding-top: 29px;
    padding-bottom: 28px;
  }
  .header__logo {
    margin-bottom: 0;
    margin-right: 9px;
    width: 187px;
    height: 45px;
  }
  .header__secondary {
    display: none;
  }
  .first__header {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 6px;
  }
  .header__admission {
    display: none;
    z-index: 100;
  }
  .header__admission.active-reversed {
    display: block;
  }
  .header__magnifier {
    display: block;
    margin-right: -9px;
    background: none;
    border: none;
  }
  .header__magnifier .header__magnifier--lupe {
    width: 31px;
    height: 31px;
  }
  .header__magnifier:hover svg rect,
  .header__magnifier:hover svg path {
    fill: var(--first-lite);
  }
  .header__magnifier:active svg rect,
  .header__magnifier:active svg path {
    fill: var(--second-color);
  }
  .header__magnifier.active {
    display: none;
  }
  /* first section */
  .first .first__container {
    padding-top: 51px;
    padding-bottom: 114px;
  }
  .first .first__title {
    margin-bottom: -7px;
  }
  .first .first__description {
    max-width: 693px;
    margin-bottom: 134px;
  }
  .first__block-up {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
  }
  .aboutUs__container {
    padding-bottom: 53px;
  }
  .gallery .gallery__container {
    padding-bottom: 54px;
  }
  .swiper-container#slider1 {
    width: 600px;
  }
  .choices,
  .choices__inner {
    width: 280px;
  }
  .gallery__description {
    max-width: 280px;
    margin-top: -182px;
  }
  /* catalog section */
  .catalog__header {
    margin-bottom: -39px;
  }
  .catalog__transfer {
    width: 450px;
    margin-top: 52px;
  }
  .catalog__card.card {
    padding-top: 279px;
    max-width: 437px;
    height: 700px;
    background-image: url(../image/Girlandajo.jpg);
    background-size: 100% 274px;
    background-repeat: no-repeat;
  }
  .catalog__artists.accordeon {
    max-width: 437px;
  }
  .accordion-item {
    width: 560px;
  }
  .accordeon-link {
    width: 230px;
  }
  .catalog__description {
    letter-spacing: -0.2px;
  }
  .catalog__title {
    margin-right: 32px;
  }
  /* developments section */
  .developments__container {
    padding-bottom: 78px;
  }
  .developments_card {
    max-width: 290px;
    min-height: 683px;
    padding: 211px 16px 91px 35px;
    background-size: 100% 200px;
  }
  .developments_card:not(:nth-child(3n + 3)) {
    margin-right: 27px;
  }
  .developments_card .developments__signature {
    margin-bottom: -19px;
  }
  .developments_card .developmets__descriptions {
    letter-spacing: 0.1px;
    width: 223px;
  }
  .developments_card .developments__link {
    bottom: 50px;
  }
  .card1 {
    background-image: url(../image/event1-2.jpg);
  }
  .card2 {
    background-image: url(../image/event2-2.jpg);
  }
  .card3 {
    background-image: url(../image/event3-2.jpg);
  }
  .card4 {
    background-image: url(../image/event4-2.jpg);
  }
  .card5 {
    background-image: url(../image/event5-2.jpg);
  }
  .developments__news {
    margin-bottom: 49px;
  }
  /* editions section */
  .swiper-container#slider2 {
    max-width: 630px;
  }
  .swiper-slide.editions__slider {
    width: 320px;
    height: 430px;
    background-size: 100% 320px;
    margin-right: 57px;
  }
  .editions__container {
    position: relative;
    padding-bottom: 10px;
  }
  .editions__choice {
    position: absolute;
    left: 599px;
    top: 105px;
  }
  .editions__price {
    position: absolute;
    right: 371px;
    top: 113px;
  }
  .editions__order {
    margin-right: 171px;
    margin-top: 390px;
  }
  .editions__checkboks {
    margin-bottom: 104px;
    width: 250px;
  }
  .editions__label {
    margin-bottom: 10px;
  }
  .editions__swiper-button2 {
    margin-left: -9px;
  }
  .editions__block--left {
    width: 250px;
  }
  .editions__showing {
    margin-left: 49px;
    margin-top: 0;
  }
  /* projects section */
  .projects__container {
    padding-bottom: 4px;
  }
  .projects__title {
    margin-bottom: 13px;
  }
  .projects__descriptions {
    max-width: 925px;
    letter-spacing: -0.1px;
    margin-bottom: 27px;
  }
  .tooltip1::before {
    top: -65px;
  }
  .swiper-container#slider3 {
    max-width: 818px;
    margin-bottom: 80px;
    height: 128px;
  }
  .swiper-slide.projects__slider {
    height: 128px;
  }
  .swiper-button-prev.swiper-button-prev-st.button3-prev {
    margin-top: -33px;
  }
  .swiper-button-next.swiper-button-next-st.button3-next {
    margin-top: -33px;
  }
  /* contacts section */
  .contacts__title {
    margin-bottom: 2px;
  }
  .contacts__container {
    max-height: 700px;
  }
  .contacts .contacts__container .contacts__block {
    width: 382px;
    padding-top: 100px;
  }
  .contacts .contacts__container .contacts__block .contacts__form {
    width: 335px;
  }
  .contacts .contacts__map.map .map__left {
    width: 47.3vw;
  }
  .contacts .contacts__map.map .map__right {
    width: 52.7vw;
  }
}
