@media (max-width: 410px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    width: 292px;
  }

  .swiper-slide.editions__slider {
    width: 130px;
    height: 275px;
  }

  .editions__img {
    height: 144px;
  }

  .contacts__container {
    width: 100%;
  }

  .contacts .contacts__container .contacts__block {
    margin: 0 auto;
    padding-bottom: 39px;
    width: 292px;
  }
}
