@media (max-width: 750px) {
  .container {
    width: calc(100% - 4rem);
  }

  .header__container {
    align-items: inherit;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .nav-toggle {
    width: 20px;
    height: 15px;

    span {
      width: 16px;
      height: 2px;

      &::before {
        top: 6px;
        width: 13px;
        height: 2px;
      }

      &::after {
        bottom: 6px;
        width: 20px;
        height: 2px;
      }
    }
  }

  .header__logo {
    left: calc((100vw - 112px) / 2);
    width: 97px;
    height: 22px;
  }

  .search {
    padding-top: 3px;
    width: 16px;

    .search__input {
      font-size: 10px;
    }
  }

  .search__magnifier {
    padding: 0;

    .search__magnifier--lupe {
      width: 16px;
      height: 16px;
    }
  }

  .header__higher.active-search {
    background: linear-gradient(to bottom, $Black, $Grey-lite);
  }

  .search.active-search {
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
  }

  .search__input.active-search {
    width: 87%;
  }

  .first .first__container {
    padding-top: 30px;
    padding-bottom: 46px;
    padding-left: 30px;
  }

  .swiper-container#slider0 {
    width: 100%;
    height: 310px;
  }

  .first__block-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .first .first__title {
    margin-bottom: 0;
    margin-left: 3px;
    width: 360px;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1px;
  }

  .first__description {
    margin-bottom: 27px;
    padding: 13px 0;
    width: 324px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .first__subscription {
    padding: 10px 17px;
    font-size: 12px;
  }

  .title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about__container {
    padding-top: 38px;
    padding-bottom: 41px;
  }

  .about__title {
    margin-bottom: 0;
    margin-left: 0;
    line-height: 62px;
  }

  .about__container .about__description {
    max-width: 85%;
    font-size: 14px;
    line-height: 28px;
  }

  .swiper-container#slider1 {
    width: 350px;
    height: 350px;
  }

  .gallery .gallery__container {
    padding-top: 56px;
    padding-bottom: 50px;
  }

  .gallery__title {
    line-height: 27px;
  }

  .gallery__docket {
    margin-bottom: 12px;
  }

  .gallery__description {
    p {
      font-size: 16px;
      line-height: 32px;
    }
  }

  .choices,
  .choices__inner {
    width: 291px;
  }

  .gallery__showing.swiper {
    position: relative;
    margin-bottom: 14px;
    padding-top: 10px;
    height: 430px;
  }

  .gallery__swiper-button1.swiper-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-left: 73px;
  }

  .swiper-button-prev {
    margin-right: 25px;
  }

  .swiper-button-next-st,
  .swiper-button-prev-st {
    top: 0;
  }

  .swiper-pagination-st.swiper-pagination-fraction {
    margin-right: 26px;
  }

  .swiper-slide.gallery__slider {
    height: 100%;
    background-repeat: round;
  }

  .modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .modal-content {
    margin-right: 0;
    margin-left: 10px;
    width: 270px;
    height: 350px;

    span {
      margin-bottom: 15px;
    }
  }

  .modal-img {
    margin-right: 0;
    margin-bottom: 17px;
    width: 290px;
    height: 230px;
  }

  .modal-close {
    right: 7px;
    top: 7px;
  }

  .catalog__container {
    padding-top: 50px;
  }

  .catalog__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog__transfer {
    width: 100%;
  }

  .catalog__language:not(:last-child) {
    margin-right: 0;
  }

  .catalog__description {
    display: none;
  }

  .accordeon-item {
    grid-column-gap: 40px;
    grid-template-columns: repeat(2, 211px);
    grid-template-rows: repeat(12, 32px);
  }

  .developments__news {
    overflow: hidden;
    width: 400px;
  }

  .developments__card:nth-child(3) {
    display: block;
  }

  .developments__card:nth-child(4) {
    display: block;
  }

  .developments__card:nth-child(5) {
    display: block;
  }

  .swiper-wrapper.development__slider {
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 14px;
    width: 100%;

    .developments__card {
      margin-right: 0;
    }
  }

  .developments__card .developmets__descriptions {
    width: 284px;
  }

  .developments__btn {
    display: none;
  }

  .pagination4.swiper-pagination {
    position: relative;
    margin: 0 auto;

    .swiper-pagination-bullet:not(:last-child) {
      margin-right: 15px;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
  }

  .editions__container {
    padding-bottom: 0;
  }

  .editions__list {
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 2px;

    .editions__list--3 {
      width: 100%;
    }
  }

  .editions__label {
    position: relative;
    border-bottom: 1px solid rgba($Wight, 0.5);
    padding-bottom: 10px;
    width: 100%;

    &::before {
      margin-bottom: 10px;
    }

    span {
      position: absolute;
      right: 1px;
      top: -8px;
      display: inline-block;
      font-size: 27px;
      color: rgba($first-lite, 0);
      transition: color 0.2s ease-in;
    }

    &:first-child {
      border-top: none;
    }
  }

  .editions__check:checked + .editions__label span {
    color: rgba($first-lite, 1);
    transition: color 0.2s ease-in;
  }

  .editions__checkboks {
    margin-bottom: 10px;
    padding-top: 12px;
  }

  .editions__docket {
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 1px solid rgba($Wight, 0.5);
    border-bottom: 1px solid rgba($Wight, 0.5);
    padding: 10px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      right: 4px;
      margin-top: 3px;
      margin-left: 4px;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid $Wight;
      border-left: 1px solid $Wight;
      width: 8px;
      height: 8px;
      transform: rotate(-45deg);
    }

    &:focus {
      color: $second-color;
    }

    &:focus::before {
      border-bottom: 1px solid $second-color;
      border-left: 1px solid $second-color;
    }

    &:hover {
      color: $first-color;
    }

    &:hover::before {
      border-bottom: 1px solid $extra-lite;
      border-left: 1px solid $extra-lite;
    }
  }

  .editions__docket.active {
    margin-bottom: 14px;

    &::before {
      margin-top: 7px;
      border-top: 1px solid $Wight;
      border-right: 1px solid $Wight;
      border-bottom: none;
      border-left: none;
      transform: rotate(-45deg);
    }

    &:focus::before {
      border-top: 1px solid $second-color;
      border-right: 1px solid $second-color;
    }

    &:hover::before {
      border-top: 1px solid $extra-lite;
      border-right: 1px solid $extra-lite;
    }
  }

  .editions__showing {
    margin-left: 0;
  }

  .editions__priceform {
    position: relative;
    left: 0;
    top: 14px;
    margin-bottom: 32px;
  }

  .editions__img {
    margin-bottom: 7px;
    height: 70%;
  }

  .editions__name {
    font-size: 12px;
    line-height: 18px;
  }

  .editions__pricename {
    flex-direction: column;
    font-size: 12px;
  }

  .editions__order {
    padding: 14px 68px;
    font-size: 12px;
  }

  .swiper-slide.editions__slider {
    margin-bottom: 29px;
    width: 45%;
    height: 100%;
  }

  .swiper-slide.editions__slider:not(:nth-child(2n + 2)) {
    margin-right: 10%;
  }

  .editions__slider.swiper-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .editions__swiper-button2 {
    display: none;
  }

  .projects__container {
    padding-top: 50px;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__descriptions {
    margin-bottom: 24px;
    max-width: 450px;
  }

  .projects__partners {
    margin-bottom: 23px;
  }

  .tooltip1::before {
    left: -98px;
    top: -63px;
    width: 214px;
  }

  .tooltip2::before {
    left: -109px;
    top: -63px;
    width: 239px;
  }

  .tooltip3::before {
    left: -65px;
    top: -47px;
    width: 153px;
  }

  .swiper-container#slider3 {
    margin-bottom: 50px;
    max-width: 390px;
  }

  .contacts__map.map {
    width: 100%;
    height: 400px;
  }

  .contacts .contacts__container .contacts__block {
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 30px;
  }

  .contacts__container {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .contacts__address {
    margin-bottom: 14px;
    font-size: 13px;
  }

  .contacts__name {
    margin-bottom: 5px;
  }

  .footer {
    width: 100%;
    height: 44px;
  }

  .footer__container {
    padding: 9px 15px;
    width: calc(100% - 6rem);
    height: 44px;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
  }

  .footer__link {
    width: 25px;
    height: 25px;
  }

  .footer__link::before {
    width: 33px;
    height: 33px;
  }

  .footer__item:not(:last-child) {
    margin-right: 14px;
  }

  .header__close {
    margin-bottom: 35px;
  }

  .nav-prime__list {
    margin-bottom: 40px;
  }

  .nav-prime__item:not(:last-child) {
    margin-bottom: 23px;
  }

  .nav-prime__link {
    font-size: 21px;
  }

  .header__admission {
    padding: 12px 50px;
  }
}
