@media (max-width: 410px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    width: 292px;
  }

  .first .first__container {
    padding-left: 0;
  }

  .first__swiper {
    height: 355px;
  }

  .background1 {
    background-image: url("../image/birmingham-museums-trust3.jpg");
  }

  .background2 {
    background-image: url("../image/background2-3.jpg");
  }

  .background3 {
    background-image: url("../image/background3-3.jpg");
  }

  .first__block-down {
    align-items: center;
    text-align: center;
  }

  .first__description {
    padding: 13px 18px;
  }

  .about__container .about__description {
    max-width: 291px;
  }

  .gallery .gallery__container {
    padding-left: 0;
  }

  .swiper-slide.editions__slider {
    width: 130px;
    height: 275px;
  }

  .accordeon-section {
    width: 292px;
  }

  .catalog__card.card {
    img {
      width: 290px;
    }
  }

  .editions__img {
    height: 144px;
  }

  .tooltip3::before {
    left: -73px;
    width: 136px;
  }

  .contacts__container {
    width: 100%;
  }

  .contacts .contacts__container .contacts__block {
    margin: 0 auto;
    padding-bottom: 39px;
    width: 91%;
  }

  .container.footer__container {
    width: 91%;
  }
}
