@media (max-width: 1650px) {
  .container {
    width: 1400px;
  }

  .header__item--down:not(:last-child) {
    margin-right: 85px;
  }

  .header__logo {
    margin-right: 110px;
  }

  .header__item:not(:last-child) {
    margin-right: 55px;
  }

  .header__nav {
    margin-right: 20px;
  }

  .swiper-container#slider1 {
    width: 1000px;
    height: 610px;
  }

  .swiper-slide.gallery__slider {
    height: 280px;

    &::after {
      width: 265px;
      height: 254px;
    }
  }

  .choices,
  .choices__inner {
    width: 350px;
  }

  /* catalog section */

  .catalog__card.card {
    max-width: 650px;
    padding-top: 400px;
    height: 730px;
    background-size: 100% 400px;
  }

  .catalog__artists.accordeon {
    max-width: 697px;
  }

  .swiper-container#slider2 {
    max-width: 900px;
  }

  .developments_card {
    padding: 318px 18px 91px 49px;
    width: 430px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 40px;
    }

    .developmets__descriptions {
      width: 333px;
    }
  }

  .editions__order {
    margin-right: 145px;
  }

  .swiper-container#slider3 {
    max-width: 1250px;
    margin-bottom: 80px;
  }


}
