@media (max-width: 970px) {
	.container {
		width: 698px;
	}

	.nav-toggle span {
		top: 17px;
	}

	.header__container {
		padding-bottom: 26px;
		padding-top: 29px;

		.header__logo {
			margin-left: 7px;
		}

		.header__magnifier .header__magnifier--lupe {
			margin-right: 13px;
		}
	}

	.first .first__container {
		padding-top: 50px;
		padding-bottom: 115px;
	}

	.first__description {
		letter-spacing: -0.1px;
		margin-bottom: 135px;
	}

	.aboutUs__container {
		padding-bottom: 51px;

		.aboutUs__description {
			max-width: 666px;
			letter-spacing: -0.1px;
		}
	}

	.gallery__block {
		flex-wrap: wrap;
	}

	.gallery__choice {
		margin-bottom: 140px;
	}

	.gallery__showing {
		margin-top: 0;
		margin-bottom: -4px;
	}

	.gallery__swiper-button1.swiper-button {
		margin-bottom: 10px;
	}

	.swiper-container#slider1 {
		width: 668px;
	}

	.swiper-button-next-st,
	.swiper-button-prev-st {
		top: -28px;
	}

	.swiper-button-prev-st {
		left: -1px;
	}

	.swiper-button-next-st {
		right: 6px;
	}

	.swiper-pagination-st {
		top: -26px;
	}

	.gallery__description {
		max-width: 668px;
		margin-top: 0;
	}

	// catalog section

	.catalog__container {
		padding-bottom: 7px;
	}

	.catalog__header {
		margin-bottom: -38px;
	}

	.catalog__transfer {
		margin-top: 43px;
	}

	.catalog__description {
		margin-left: 0;
	}

	li.catalog__language {
		margin-right: -15px;
	}

	.catalog__description {
		width: 669px;
		margin-bottom: 95px;
	}

	.catalog__content {
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}


	.catalog__artists.accordeon {
		max-width: 668px;
		width: 100%;
		margin-left: 0;
		margin-bottom: 50px;


		.accordeon-section {
			width: 100%;


			.accordeon-item.flex {
				width: 100%;


				.accordeon-link {
					width: 210px;

				}

			}


		}

	}

	.catalog__card.card {
		max-width: 668px;

		& img {
			width: 668px;
			height: 419px;
		}
	}

	// developments section

	.developments__container {
		padding-top: 78px;
		padding-bottom: 86px;
	}

	.developments__title {
		margin-top: -3px;
	}

	.developments_card {
		max-width: 317px;
		padding-bottom: 87px;
	}

	.developments_card:not(:nth-child(3n + 3)) {
		margin-right: 0;
	}

	.developments_card:not(:nth-child(2n + 2)) {
		margin-right: 32px;
	}

	.card3 {
		display: none;
	}

	.developments_card .developments__signature {
		margin-bottom: -16px;
	}

	.developments__news {
		margin-bottom: 50px;
	}

	// editions section

	.editions__container {
		padding-bottom: 78px;
	}

	.editions__blocks {
		flex-wrap: wrap;

		.editions__block--left {
			padding-top: 30px;
			width: 100%;
		}
	}

	.editions__checkboks {
		margin-bottom: 104px;
		padding-top: 20px;
		width: 100%;

		span {
			position: absolute;
			top: 166px;
			margin-top: 0;
		}
	}

	.editions__list {
		display: flex;

		.editions__list--1 {
			width: 134px;
			margin-right: 57px;
		}

		.editions__list--2 {
			width: 297px;
			margin-right: 43px;
		}

		.editions__list--3 {
			width: 222px;
		}
	}

	.editions__label {
		margin-bottom: 11px;
	}

	.editions__price {
		top: 351px;
		left: 15px;
	}

	.editions__choice {
		left: 14px;
		top: 386px;
	}

	.swiper-container#slider2 {
		max-width: 614px;
	}

	.swiper-slide.editions__slider {
		height: 436px;
	}

	.editions__order {
		margin-top: 394px;
	}

	.editions__swiper-button2 {
		margin-left: -33px;
	}

	.editions__showing {
		margin-left: 26px;
		margin-top: 70px;
	}

	// progects section

	.tooltip3::before {
		top: -57px;
	}

	.tooltip1::before {
		top: -73px;
	}

	.projects__descriptions {
		letter-spacing: 0.4px;
		margin-bottom: 33px;
	}

	.projects__partners {
		margin-bottom: 4px;
	}

	.swiper-container#slider3 {
		max-width: 562px;
		margin-bottom: 80px;
		margin-top: 7px;
		height: 106px;
	}

	.swiper-slide.projects__slider {
		height: 106px;
	}

	.swiper-button-prev.swiper-button-prev-st.button3-prev,
	.swiper-button-next.swiper-button-next-st.button3-next {
		margin-top: -38px;
	}

	// contacts section

	.contacts__title {
		margin-bottom: 0px;
	}

	.contacts .contacts__map.map .map__left {
		width: 55.8vw;
	}

	.contacts .contacts__map.map .map__right {
		width: 44.2vw;
	}

	.contacts .contacts__container .contacts__block .contacts_name {
		margin-bottom: 6px;

	}
}
