@media (max-width: 550px) {
  .container {
    width: calc(100% - 3rem);
  }

  .header__container {
    padding-left: 17px;
  }

  .header__burger {
    margin-right: 0;
  }

  .header__logo {
    margin-right: 0;
  }

  .first .first__title {
    margin-bottom: 0;
    margin-left: 3px;
    width: 261px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1px;
  }

  .first__description {
    margin-bottom: 27px;
    width: 305px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .about__container .about__description {
    max-width: 85%;
    font-size: 14px;
    line-height: 28px;
  }

  .swiper-container#slider1 {
    width: 292px;
    height: 367px;
  }

  .gallery .gallery__container {
    padding-bottom: 70px;
    padding-left: 0;
  }

  .gallery__choice {
    margin-bottom: 108px;
  }

  .catalog__container {
    padding-top: 72px;
    padding-left: 9px;
  }

  .catalog__header {
    margin-bottom: 13px;
  }

  .catalog__title {
    margin-bottom: 10px;
    line-height: 32px;
  }

  .catalog__transfer {
    margin: 0;
    margin-left: -5px;
    width: 291px;
  }

  .tab-nav__link {
    width: 44px;
    height: 44px;
    background-size: 32px;
  }

  .tab-nav__link::before {
    left: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
  }

  .tab-nav__link::after {
    left: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
  }

  .accordeon-section {
    margin-left: -4px;
    width: 100%;
  }

  .catalog__language:not(:last-child) {
    margin-right: 20.5px;
  }

  .catalog__artists.accordeon {
    margin-bottom: 49px;
  }

  .catalog__artists.accordeon .accordeon-section .accordeon-item {
    grid-template-columns: 209px;
    grid-template-rows: repeat(24, 32px);
    padding: 21px 0 16px;
  }

  .accordeon-title {
    padding: 20.5px 0 21px 3px;
    font-weight: 600;
    font-size: 18px;
  }

  .accordeon-title::after {
    top: 20px;
    width: 30px;
    height: 30px;
  }

  .accordeon-title::before {
    right: 3px;
    margin-top: 10px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
  }

  .accordeon-section.active .accordeon-title::before {
    right: 3px;
    margin-top: 12px;
    width: 8px;
    height: 8px;
  }

  .catalog__card.card {
    margin-left: -2px;

    img {
      margin-bottom: 23px;
      width: 100%;
      height: 181px;
    }
  }

  .card__title {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .developments__container {
    padding-top: 50px;
    padding-bottom: 48px;
  }

  .developments__title {
    margin-bottom: 11px;
    letter-spacing: -1px;
  }

  .developments__news {
    width: 290px;
  }

  .developments__card .developments__card--down {
    padding: 16px 11px 72px 28px;
  }

  .developments__card .developments__header {
    margin-bottom: 35px;
  }

  .developments__card .developmets__descriptions {
    width: 230px;
  }

  .developments__card .developments__link {
    bottom: 50px;
  }

  .pagination4 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .editions__container {
    padding-top: 50px;
  }

  .editions__choice {
    width: 290px;
  }

  .editions__number {
    width: 70px;
  }

  .editions__input {
    margin-left: 5px;
  }

  .editions__showing {
    margin: 0;
  }

  .editions__order {
    padding: 10px 34px;
  }

  .swiper-container#slider3 {
    height: 65px;
    max-width: 195px;
  }

  .swiper-slide.projects__slider {
    height: 65px;
    background-position: center;
    background-size: 195px 65px;
  }

  h3 {
    font-size: 18px;
  }

  .projects__showing {
    position: relative;
  }

  .projects__swiper-button3.swiper-button {
    bottom: 27px;
  }

  .tooltip3::before {
    left: -113px;
  }

  .projects__descriptions {
    max-width: 290px;
  }

  .contacts__container {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .contacts .contacts__container .contacts__block {
    width: 320px;
  }

  .contacts__map.map {
    height: 320px;
  }

  .contacts__form {
    width: 290px;
  }

  .contacts__form .contacts__input {
    font-size: 14px;
  }

  .contacts__form .contacts__tweet {
    margin-bottom: 14px;
  }

  .contacts__form .contacts__button {
    margin-bottom: 24px;
    width: 128px;
    height: 40px;
    font-size: 14px;
  }

  .contacts__odrercall,
  .contacts__docket {
    font-size: 18px;
  }
}
