@media (max-width: 1430px) {
	.container {
		width: 955px;
	}

	.header__container {
		padding-top: 29px;
		padding-right: 8px;
		padding-bottom: 29px;
		padding-left: 13px;
	}

	.header__logo {
		width: 187.6px;
		height: 42px;
	}


	.header__nether {
		display: none;
	}

	.first__header {
		display: none;
	}

	.header__nav {
		display: none;
	}

	.nav-prime__list {
		flex-direction: column;
	}

	.nav-prime__link {
		font-size: 32px;

		&:hover {
			color: $second-color;
		}
	}

	.nav--showed {
		display: block;
		position: absolute;
		left: 30vw;
		top: 15vw;
		z-index: 20;
	}

	.header__burger {
		display: block;
		margin-right: 111px;
	}

	.header__admission {
		display: none;
		z-index: 100;
	}

	.header__admission.active-reversed {
		display: block;
	}

	.search__magnifier {
		display: block;
		margin-top: 3px;
		background: none;
		border: none;

		.search__magnifier--lupe {
			width: 31px;
			height: 31px;
		}

		&:hover svg {

			rect,
			path {
				fill: $first-color;
				transition: all .7s ease-in;
			}
		}

		&:active svg {

			rect,
			path {
				fill: $second-color;
				transition: all .7s ease-in;
			}
		}
	}

	.header__magnifier.active {
		display: none;
	}

	/* first section */

	.first .first__container {
		padding-top: 114px;
		padding-bottom: 114px;
		padding-left: 12px;
	}

	.first .first__title {
		margin-bottom: 11px;
	}

	.first .first__description {
		max-width: 693px;
		margin-bottom: 134px;
	}

	.first__block-up {
		-webkit-box-pack: right;
		-ms-flex-pack: right;
		justify-content: right;
	}

	.about__container {
		padding-bottom: 69px;
		padding-left: 15px;
	}

	.gallery .gallery__container {
		padding-bottom: 64px;
		padding-left: 14px;
	}

	.swiper-container#slider1 {
		width: 600px;
	}

	.gallery__swiper-button1.swiper-button {
		margin-left: -5px;
	}

	.choices,
	.choices__inner {
		width: 280px;
	}

	.gallery__description {
		max-width: 280px;
		top: 609px;
	}

	/* catalog section */

	.catalog__container {
		padding-top: 70px;
	}

	.catalog__header {
		margin-bottom: 7px;
	}

	.catalog__transfer {
		width: 450px;
		margin-top: 18px;
	}

	.catalog__card.card {
		padding-top: 306px;
		max-width: 437px;
		height: 700px;
		background-image: url(../image/Girlandajo.jpg);
		background-size: 100% 274px;
		background-repeat: no-repeat;
	}

	.catalog__artists.accordeon {
		max-width: 437px;
	}

	.accordion-item {
		width: 560px;
	}

	.accordeon-link {
		width: 230px;
	}

	.catalog__description {
		letter-spacing: -0.2px;
	}

	.catalog__title {
		margin-right: 32px;
	}

	/* developments section */

	.developments__container {
		padding-bottom: 82px;
	}

	.developments_card {
		max-width: 290px;
		min-height: 683px;
		padding: 214px 16px 91px 35px;
		background-size: 100% 200px;

		&:not(:nth-child(3n + 3)) {
			margin-right: 27px;
		}

		.developments__signature {
			margin-bottom: 3px;
			;
		}

		.developmets__descriptions {
			letter-spacing: 0.1px;
			width: 223px;
		}

		.developments__link {
			bottom: 50px;
		}
	}

	.card1 {
		background-image: url(../image/event1-2.jpg);
	}

	.card2 {
		background-image: url(../image/event2-2.jpg);
	}

	.card3 {
		background-image: url(../image/event3-2.jpg);
	}

	.card4 {
		background-image: url(../image/event4-2.jpg);
	}

	.card5 {
		background-image: url(../image/event5-2.jpg);
	}

	.developments__news {
		margin-bottom: 49px;
	}

	/* editions section */

	.swiper-container#slider2 {
		max-width: 630px;
		margin-left: 0px;
	}

	.swiper-slide.editions__slider {
		width: 320px;
		height: 430px;
		background-size: 100% 320px;
		margin-right: 57px;
	}

	.editions__container {
		position: relative;
		padding-bottom: 13px;
	}

	.editions__choice {
		position: absolute;
		left: 599px;
		top: 105px;
	}

	.editions__price {
		position: absolute;
		right: 371px;
		top: 113px;
	}

	.editions__order {
		margin-right: 171px;
		margin-top: 390px;
	}

	.editions__checkboks {
		margin-bottom: 104px;
		width: 250px;
	}

	.editions__label {
		margin-bottom: 14px;
	}

	.editions__swiper-button2 {
		margin-left: -9px;
	}

	.editions__block--left {
		width: 238px;
		margin-right: 58px;
	}

	/* projects section */

	.projects__container {
		padding-bottom: 4px;
	}

	.projects__title {
		margin-bottom: 23px;
	}

	.projects__descriptions {
		max-width: 925px;
		margin-bottom: 31px;
	}

	.tooltip1::before {
		top: -57px;
	}

	.swiper-container#slider3 {
		max-width: 818px;
		margin-bottom: 87px;
		height: 128px;
	}

	.swiper-slide.projects__slider {
		height: 128px;
	}

	.swiper-button-prev.swiper-button-prev-st.button3-prev {
		margin-top: -33px;
	}

	.swiper-button-next.swiper-button-next-st.button3-next {
		margin-top: -33px;
	}

	/* contacts section */

	.contacts__title {
		margin-bottom: 16px;
	}

	.contacts__container {
		max-height: 700px;
	}

	.contacts .contacts__container .contacts__block {
		width: 382px;
		padding-top: 125px;
		padding-bottom: 122px;
	}

	.contacts__form {
		width: 337px;
	}

	.contacts .contacts__map.map .map__left {
		width: 47.3vw;
	}

	.contacts .contacts__map.map .map__right {
		width: 52.7vw;
	}
}
