@media (max-width: 970px) {
    .container {
        width: 668px;
    }

    .header__logo {
        padding: 30px 0 30px 0;
        margin-right: 17px;
    }

    .nav-toggle span {
        top: 17px;
        left: 6px;
    }

    svg {
        &.header__magnifier--lupe {
            width: 30px;
            height: 30px;
            margin-right: -7px;
        }
    }

    .first__title {
        margin-top: 92px;
        margin-left: 0px;
    }

    .first__description {
        letter-spacing: -0.1px;
        margin-left: 5px;
        margin-top: 10px;

    }

    .first__description {
        max-width: 661px;
    }

    .first__subscription {
        margin-top: 133px;
        margin-left: 5px;
    }

    .aboutUs {
        height: 588px;
    }

    h2.aboutUs__title.title {
        margin-left: 5px;
        margin-top: 5px;
    }

    .aboutUs__description {
        margin-top: 18px;
        margin-left: 7px;
        max-width: 666px;
        letter-spacing: -0.1px;
    }

    .gallery__block {
        flex-wrap: wrap;
    }

    .gallery__showing {
        margin-top: -784px;
    }

    .swiper-container#slider1 {
        width: 668px;
    }

    .gallery__description {
        max-width: 668px;
        margin-top: 791px;
    }

    li.catalog__language {
        margin-right: -15px;
    }

    .catalog__description {
        width: 669px;
    }

    .catalog__content {
        flex-wrap: wrap-reverse;
    }

    .catalog__artists.accordeon {
        max-width: 668px;
        width: 100%;
        margin-left: 0;
        margin-top: 54px;


        .accordeon-section {
            width: 100%;


            .accordion-item.flex {
                width: 100%;


                .accordeon-link {
                    width: 210px;

                }

            }


        }

    }

    .catalog__card.card {
        max-width: 668px;
        width: 100%;
        height: 727px;
        margin-top: 395px;
        background-image: url(../image/Giraldajo2.jpg);
        background-size: 100% 419px;
    }



}