@media (max-width: 1650px) {
  .container {
    width: 1400px;
  }

  .swiper-container#slider1 {
    width: 1000px;
    height: 610px;
  }

  .swiper-slide.gallery__slider {
    height: 280px;

    &::after {
      width: 265px;
      height: 254px;
    }
  }

  .choices,
  .choices__inner {
    width: 350px;
  }

  .gallery__description {
    max-width: 350px;
    margin-top: 418px;
    margin-left: 0;
  }

  /* catalog section */

  .catalog__card.card {
    max-width: 650px;
    height: 730px;
    background-size: 100% 400px;
  }

  .catalog__artists.accordeon {
    max-width: 697px;
  }

  .card__title {
    margin-top: 450px;
  }

  .swiper-container#slider2 {
    max-width: 900px;
  }
}

@media (max-width: 1430px) {
  .container {
    width: 925px;
  }

  .header__nav {
    display: none;
  }

  .nav-toggle {
    display: block;
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }

  .header__close {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
  }

  .header__admission {
    display: none;
  }

  .header__magnifier {
    display: block;
    background: none;

    &:hover svg {

      rect,
      path {
        fill: var(--first-lite);
      }
    }

    &:active svg {

      rect,
      path {
        fill: var(--second-color);
      }
    }
  }

  /* first section */

  .first__nav {
    display: none;
  }

  .first__block-up {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
  }

  .first__search-input,
  .first__magnifier {
    display: none;
  }

  .swiper-container#slider1 {
    width: 600px;
  }

  .gallery__choice {
    margin-right: 40px;
  }

  .choices,
  .choices__inner {
    width: 280px;
  }

  .aboutUs {
    margin-top: -38px;
    height: 489px;
  }

  .gallery__description {
    max-width: 280px;
    margin-top: 366px;
  }

  /* catalog section */

  .catalog__card.card {
    max-width: 437px;
    height: 700px;
    margin-top: 5px;
    background-image: url(../image/Girlandajo.jpg);
    background-size: 100% 274px;
    background-repeat: no-repeat;
  }

  .catalog__artists.accordeon {
    max-width: 437px;
  }

  .accordion-item {
    width: 560px;
  }

  .accordeon-link {
    width: 230px;
  }

  .catalog__description {
    letter-spacing: -0.2px;
  }

  .card__title {
    margin-top: 304px;
  }

  /* developments section */

  .developments_card {
    max-width: 290px;
    min-height: 683px;
    background-size: 100% 200px;
  }

  .card1 {
    background-image: url(../image/event1-2.jpg);
  }

  .card2 {
    background-image: url(../image/event2-2.jpg);
  }

  .card3 {
    background-image: url(../image/event3-2.jpg);
  }

  .card4 {
    background-image: url(../image/event4-2.jpg);
  }

  .card5 {
    background-image: url(../image/event5-2.jpg);
  }

  .developments__description {
    letter-spacing: -0.1px;
  }

  .developments_card {
    &:not(:nth-child(3n + 3)) {
      margin-right: 27px;
    }

    padding: 0 34px;
  }

  .developments__signature {
    margin-top: 211px;
    margin-right: 0;
  }

  .developmets__descriptions {
    letter-spacing: 0.1px;
  }

  .developments__link {
    bottom: 52px;
  }

  /* editions section */

  .swiper-container#slider2 {
    max-width: 630px;
  }

  .swiper-slide.editions__slider {
    width: 320px;
    height: 430px;
    background-size: 100% 320px;
    margin-right: 57px;
  }

  .editions__container {
    position: relative;
  }

  .editions__choice {
    position: absolute;
    left: 584px;
    top: 94px;
  }

  .editions__price {
    position: absolute;
    right: 357px;
    top: 83px;
  }

  .editions__order {
    margin-right: 176px;
    margin-top: 387px;
  }

  .editions__checkboks {
    margin-bottom: 104px;
    width: 250px;
  }

  .editions__label {
    margin-bottom: 10px;
  }

  .editions__swiper-button2 {
    margin-left: -9px;
  }

  .editions__block--left {
    width: 250px;
  }

  .editions__showing {
    margin-left: 49px;
  }

  /* projects section */

  .projects__descriptions {
    max-width: 925px;
    letter-spacing: -0.1px;
  }

  .projects__partners {
    margin-top: 18px;
    margin-left: -62px;
  }

  .projects__slider {
    width: 800px;
  }

  .swiper-container#slider3 {
    margin-bottom: 80px;
    height: 128px;
  }

  .swiper-slide.projects__slider {
    height: 128px;
  }

  .swiper-button-prev.swiper-button-prev-st.button3-prev {
    margin-left: -73px;
    margin-top: -33px;
  }

  .swiper-button-next.swiper-button-next-st.button3-next {
    margin-right: -82px;
    margin-top: -33px;
  }

  /* contacts section */

  .contacts__title {
    margin-left: -63px;
  }

  .contacts__block {
    width: 382px;
  }

  .contacts__form {
    width: 335px;
  }

  .map {
    margin-left: 98px;
  }
}