@media (max-width: 1430px) {
	.container {
		width: 955px;
	}

	.header__container {
		padding-top: 29px;
		padding-right: 8px;
		padding-bottom: 29px;
		padding-left: 13px;
	}

	.header__logo {
		width: 187.6px;
		height: 42px;
	}


	.header__nether {
		display: none;
	}

	.first__header {
		display: none;
	}

	.header__nav {
		display: none;
	}

	.nav-prime__list {
		flex-direction: column;
	}

	.nav-prime__link {
		font-size: 32px;

		&:hover {
			color: $second-color;
		}
	}

	.nav--showed {
		display: block;
		position: absolute;
		left: 30vw;
		top: 15vw;
		z-index: 20;
	}

	.nav-prime__link::before {
		margin: 3px -7px;
		height: 37px;
	}

	.header__burger {
		display: block;
		margin-right: 113px;
	}

	.header__admission {
		display: none;
		z-index: 100;
	}

	.header__admission.active-reversed {
		display: block;
	}

	.search__magnifier {
		display: block;
		margin-top: 3px;
		background: none;
		border: none;

		.search__magnifier--lupe {
			width: 31px;
			height: 31px;
		}

		& svg {

			rect,
			path {
				transition: all .7s ease-in;
			}
		}

		&:hover svg {

			rect,
			path {
				fill: $first-color;
				transition: all .7s ease-in;
			}
		}

		&:active svg {

			rect,
			path {
				fill: $second-color;
				transition: all .7s ease-in;
			}
		}
	}

	.header__magnifier.active {
		display: none;
	}

	/* first section */

	.first .first__container {
		padding-top: 114px;
		padding-bottom: 114px;
		padding-left: 12px;
	}

	.first .first__title {
		margin-bottom: 11px;
	}

	.first .first__description {
		max-width: 693px;
		margin-bottom: 132px;
	}

	.first__block-up {
		justify-content: right;
	}

	.about__container {
		padding-bottom: 69px;
		padding-left: 15px;
	}

	.about__title {
		margin-left: -2px;
	}

	.gallery .gallery__container {
		padding-bottom: 66px;
		padding-left: 14px;
	}

	.swiper-container#slider1 {
		width: 600px;
	}

	.gallery__swiper-button1.swiper-button {
		margin-left: -5px;
	}

	.choices,
	.choices__inner {
		width: 280px;
	}

	.gallery__description {
		max-width: 280px;
		top: 609px;
	}

	/* catalog section */

	.catalog__container {
		padding-top: 70px;
	}

	.catalog__header {
		margin-bottom: 7px;
	}

	.catalog__title {
		margin-right: 32px;
	}

	.catalog__transfer {
		width: 450px;
		margin-top: 18px;
	}

	.catalog__card.card {
		max-width: 437px;

		& img {
			width: 437px;
			height: 274px;
		}

	}

	.catalog__artists.accordeon {
		max-width: 437px;
	}

	.accordeon-item {
		grid-template-columns: 252px 184px;
		grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
	}

	/* developments section */

	.developments__card {
		width: 290px;

		.developments__picture {
			height: 200px;
		}

		&:not(:nth-child(3n + 3)) {
			margin-right: 27px;
		}

		.developments__card--down {
			padding: 14px 17px 104px 35px;
		}

		.developments__signature {
			margin-bottom: 3px;
			;
		}

		.developmets__descriptions {
			letter-spacing: 0.1px;
			width: 223px;
		}

		.developments__link {
			bottom: 50px;
		}
	}

	.developments__news {
		margin-bottom: 30px;
	}

	/* editions section */

	.swiper-container#slider2 {
		max-width: 630px;
		margin-left: 0px;
	}

	.editions__container {
		position: relative;
		padding-bottom: 14px;
	}

	.editions__priceform {
		position: absolute;
		flex-direction: row;
		align-items: center;
		left: 540px;
		top: 105px;
	}

	.editions__price {
		margin-bottom: 0;
		margin-right: 14px;
	}

	.editions__img {
		height: 322px;
		margin-bottom: 14px;
	}

	.editions__checkboks {
		margin-bottom: 104px;
		width: 250px;
	}

	.editions__label {
		margin-bottom: 14px;
	}

	.editions__swiper-button2 {
		margin-left: -9px;
	}

	.editions__block--left {
		width: 238px;
		margin-right: 58px;
	}

	/* projects section */

	.projects__container {
		padding-bottom: 4px;
	}

	.projects__descriptions {
		max-width: 925px;
		margin-bottom: 33px;
		letter-spacing: 0;
	}

	.tooltip1::before {
		top: -57px;
	}

	.swiper-container#slider3 {
		max-width: 818px;
		height: 128px;
	}

	.swiper-slide.projects__slider {
		height: 128px;
	}

	.swiper-button-prev.swiper-button-prev-st.button3-prev,
	.swiper-button-next.swiper-button-next-st.button3-next {
		margin-top: -33px;
	}

	/* contacts section */

	.contacts__title {
		margin-bottom: 12px;
	}

	.contacts__container {
		max-height: 700px;
	}

	.contacts .contacts__container .contacts__block {
		width: 382px;
		padding-top: 125px;
		padding-bottom: 122px;
	}

	.contacts__form {
		width: 337px;
	}

	.contacts .contacts__map.map .map__left {
		width: 47.3vw;
	}

	.contacts .contacts__map.map .map__right {
		width: 52.7vw;
	}
}
