:root {
  --first-color: #9d5cd0;
  --first-lite: #c283f3;
  --extra-lite: #d1a9f0;
  --second-color: #7943a4;
  --Black: #000000;
  --Wight: #ffffff;
  --Grey: #cacaca;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.24px;
  color: #333333;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}

.signature {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #999999;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 80px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);

  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}