$first-color: #9d5cd0;
$first-lite: #c283f3;
$extra-lite: #d1a9f0;
$second-color: #7943a4;
$Black: #000000;
$Wight: #ffffff;
$Grey: #cacaca;
$signature-color: #999999;
$btn-slider-color:#ececec;
$Darck-grey: #333333;
$tool-color:#efefef;
$lite-grey:#e5e5e5;

@mixin transition($property, $time) {
	-webkit-transition: $property $time ease-in-out;
	-o-transition: $property $time ease-in-out;
	transition: $property $time ease-in-out;
}

@mixin spaces-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
