/* aboutUs section */

.about {
	background: $lite-grey;
}

.about__container {
	padding-top: 84px;
	padding-bottom: 70px;
	padding-left: 13px;
}

.about__title {
	margin-bottom: 22px;
}

.about__description {
	max-width: 1080px;
}
