/* aboutUs section */

.about {
	background: $Wight;
}

.about__container {
	padding-top: 79px;
	padding-bottom: 70px;
	padding-left: 13px;
}

.about__title {
	margin-bottom: 16px;
}

.about__description {
	max-width: 1080px;
}
