/* aboutUs section */

.aboutUs {
	background: $lite-grey;
}

.aboutUs__container {
	padding-bottom: 70px;
	padding-top: 84px;
	padding-left: 13px;
}

.aboutUs__title {
	margin-bottom: 22px;
}

.aboutUs__description {
	max-width: 1080px;
	margin-left: 1px;
}
