/* contacts section */
.contacts {
  position: relative;
  margin-top: 12px;
  border-top: 1px solid #cacaca;
}

.contacts .contacts__container {
  padding-top: 0;
  padding-bottom: 0;
}

.contacts .contacts__container .contacts__block {
  padding-top: 124px;
  padding-bottom: 127px;
}

.contacts .contacts__container .contacts__block .contacts_name {
  display: block;
}

.contacts .contacts__container .contacts__block .contacts__address {
  display: block;
  margin-top: 7px;
  font-weight: 400;
  font-size: 16px;
}

.contacts .contacts__container .contacts__block .contacts__odrercall,
.contacts .contacts__container .contacts__block .contacts__docket {
  margin-top: 34px;
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.contacts .contacts__container .contacts__block .contacts__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-top: 14px;
  width: 400px;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__input {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__tel {
  margin-top: 24px;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button {
  width: 157px;
  height: 59px;
  margin-top: 22px;
  background: none;
  border: 2px solid var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--first-color);
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button:hover {
  background-color: var(--first-color);
  color: #ffffff;
}

.contacts .contacts__container .contacts__block .contacts__form .contacts__button:focus {
  background-color: var(--second-color);
  border-color: var(--extra-lite);
}

.contacts .contacts__container .contacts__block .js-validate-error-label {
  font-size: 12px;
}

.contacts .contacts__container .contacts__block .contacts__input.js-validate-error-field {
  border: 2px solid #b81111 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.contacts .contacts__container .contacts__block .contacts__social {
  margin-top: 15px;
}

.contacts .contacts__container .contacts__block .contacts__social .contacts__tweet {
  margin-top: 38px;
}

.contacts .contacts__container .contacts__block .contacts__social .contacts__teleg {
  margin-left: 15px;
}

.contacts .contacts__map.map {
  position: absolute;
  display: flex;
  width: 100%;
  height: 700px;
}

.contacts .contacts__map.map .map__right {
  border-left: 1px solid #cacaca;
  height: 700px;
  width: 64.76vw;
}

.contacts .contacts__map.map .map__left {
  width: 35.24vw;
  height: 100%;
}

.contacts [class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.contacts .ymaps-2-1-77-copyright__link,
.contacts .ymaps-2-1-77-map-copyrights-promo,
.contacts .ymaps-2-1-77-copyright.ymaps-2-1-77-copyright_logo_no {
  display: none;
}
