/* contacts section */

.contacts {
  position: relative;
  border-top: 1px solid $Grey;
}

.contacts__container {
  align-items: stretch;
  margin: 0;
  padding-right: 0;
  padding-left: calc((100vw - 1618px) / 2);
  max-width: 100%;
}

.contacts__block {
  margin-right: 121px;
  padding-top: 125px;
  padding-bottom: 123px;
}

.contacts__name {
  display: block;
  margin-bottom: 13px;
}

.contacts__address {
  display: block;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
}

.contacts__odrercall,
.contacts__docket {
  display: block;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 24px;
  color: $Darck-grey;
}

.contacts__form {
  position: relative;
  flex-direction: column;
  width: 400px;

  .contacts__input {
    position: relative;
    display: block;
    margin-bottom: 24px;
    border: 1px solid $Black;
    border-radius: 100px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: $signature-color;
  }

  .contacts__tel {
    margin-bottom: 21px;
  }

  .contacts__button {
    margin-bottom: 40px;
    border: 2px solid $first-color;
    border-radius: 100px;
    width: 157px;
    height: 59px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: $first-color;
    background: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $Wight;
      background-color: $first-color;
      transition: all 0.3s ease-in-out;
    }

    &:focus {
      border-color: $extra-lite;
      color: $Wight;
      background-color: $second-color;
      transition: all 0.3s ease-in-out;
    }
  }

  .contacts__tweet {
    margin-bottom: 18px;
  }
}

.js-validate-error-label {
  margin-bottom: 7px;
  font-size: 12px;
}

.contacts__input.js-validate-error-field {
  margin-bottom: 7px !important;
  border: 2px solid rgb(184, 17, 17) !important;
  box-sizing: border-box !important;
}

.contacts__whats {
  margin-right: 20px;
}

.contacts__whats,
.contacts__teleg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    border-radius: 100px;
    width: 38px;
    height: 38px;
    box-shadow: 0 0 15px -3px;
    color: transparent;
    background: transparent;
    transition: color 0.2s linear;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    border: 3px solid;
    border-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: transparent;
    transition: border-color 0.2s linear;
  }

  &:hover::before {
    color: $Black;
    transition: color 0.2s linear;
  }

  &:focus::after {
    border-color: $first-color;
    transition: border-color 0.2s linear;
  }
}

.contacts__map.map {
  width: 100%;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.ymaps-2-1-78-copyright__link,
.ymaps-2-1-78-map-copyrights-promo,
.ymaps-2-1-78-copyright.ymaps-2-1-78-copyright_logo_no,
.ymaps-2-1-78-gotoymaps,
.ymaps-2-1-78-gototech {
  display: none !important;
}
