/* first section */
.first {
  background: transparent;
  z-index: -1;
}

.first .first__swiper {
  position: absolute;
  width: 100%;
  height: 800px;
  left: 0;
  top: 100px;
  z-index: -100;
}

.first .background__first {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  z-index: -11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: backgroundAnimation 30s linear infinite;
  animation: backgroundAnimation 30s linear infinite;
}

.first .background1 {
  background-image: url(../image/birmingham-museums-trust.jpg);
}

.first .background2 {
  background-image: url(../image/bacground2.jpg);
}

.first .background3 {
  background-image: url(../image/background3.jpg);
}

.first from {
  background-size: 100% 100%;
}

@-webkit-keyframes backgroundAnimation {
  from {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  to {
    background-size: 100% 100%;
  }
}

@keyframes backgroundAnimation {
  from {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  to {
    background-size: 100% 100%;
  }
}

.first .first__container {
  padding-top: 0;
  padding-bottom: 125px;
}

.first .first__title {
  display: block;
  position: relative;
  margin-top: 69px;
  margin-left: -3px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.3px;
  line-height: 83px;
  color: #ffffff;
}

.first .first__description {
  max-width: 597px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.first .first__subscription {
  margin-top: 92px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 30px;
  width: 314px;
  height: 70px;
  background: var(--first-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.first .first__subscription:hover {
  border: 3px solid var(--extra-lite);
}

.first .first__subscription:focus {
  background: var(--first-color);
  border: 3px solid var(--second-color);
}

.first .first__subscription:active {
  background: var(--second-color);
  border: 3px solid var(--extra-lite);
}
