/* footer */

.footer {
  width: 100%;
  height: 140px;
  background-color: $Black;
}

.footer__container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 140px;
}

.footer__logo:focus {
  outline: 1px solid $Wight;
}

.footer__link {
  position: relative;
  width: 47px;
  height: 47px;
  transition: border-color 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    display: block;
    border: 1px solid;
    border-color: transparent;
    border-radius: 100px;
    width: 53px;
    height: 53px;
    background: transparent;
    transition: border-color 0.2s linear;
  }
}

.footer__link:focus::after {
  border-color: $Wight;
  transition: border-color 0.2s linear;
}

.footer__item:not(:last-child) {
  margin-right: 18px;
}
