/* gallery section */

.gallery {
	background-image: url(../image/backg_gallary.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	.gallery__container {
		position: relative;
		padding-bottom: 81px;
		padding-top: 78px;
		padding-left: 12px;
	}
}

.gallery__title {
	margin-bottom: 23px;
	font-weight: 400;
	font-size: 48px;
	line-height: 65px;
	color: $Wight;
}

.gallery__choice {
	flex-direction: column;
	margin-right: 45px;
}

.gallery__docket {
	display: block;
	margin-bottom: 16px;
	margin-left: 2px;
	font-weight: 600;
	font-size: 16px;
	color: $Wight;
}

.gallery__filter {
	margin-left: 3px;
}

.choices__inner {
	width: 400px;
	border-radius: 7px;
	min-height: 40px;
	background: none;
	font-family: Open Sans;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	border: 1px solid $Wight;
	padding: 5px 15px 5px 9px;
	color: $Wight;
	padding-right: 15px;
}

.is-open .choices__inner,
.is-focused .choices__inner {
	border: none;
	background: none;
	border-radius: 7px;
	border: 1px solid $Wight;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: rgba($Wight, 0.2);
}

.choices__list--dropdown {
	background: none;
	border: 1px solid $Wight;
	border-radius: 7px;

	.choices__item {
		padding-left: 20px;
		font-family: Open Sans;
		font-weight: 400;
		font-style: normal;
		font-size: 16px;
		color: $signature-color;
	}

	.choices__item--selectable::after {
		content: "";
	}
}

.choices__list--dropdown .choices__item--selectable:not(:last-child) {
	border-bottom: 1px solid $Wight;
}

.choices__list {
	color: $Wight;
}

.choices__placeholder {
	opacity: 1;
}

div {
	&[data-id="1"] {
		display: none;
	}

	&[data-custom-properties="[object Object]"] {
		display: block;
	}
}

.choices[data-type="select-one"] {
	&:after {
		content: "";
		display: block;
		width: 9px;
		height: 9px;
		margin-right: 4px;
		border-top: 1px solid $Wight;
		border-right: 1px solid $Wight;
		transform: rotate(-45deg);
	}

	&.is-open::after {
		border-bottom: 1px solid $Wight;
		border-left: 1px solid $Wight;
		transform: rotate(-45deg);
	}
}

.gallery__showing.swiper {
	padding-top: 47px;
}

.gallery__swiper-button1 {
	margin-bottom: 24px;
}

.swiper-pagination-fraction {
	left: -2px;
	bottom: 14px;
	width: 89px;
}

.swiper-button-next-st,
.swiper-button-prev-st {
	position: relative;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border-radius: 100px;
	background-color: $btn-slider-color;
	padding: 3px 10px;
	@include transition(all, 0.5s);
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 7px;
	right: auto;
}

.swiper-button-next-st:focus,
.swiper-button-prev-st:focus {
	outline: none;
	border: 2px solid $second-color;
	background-color: $btn-slider-color2;
	@include transition(all, 0.5s);
}

.swiper-button-next-st:focus::after,
.swiper-button-prev-st:focus::after {
	color: $Black;
	@include transition(color, 0.5s);
}

.swiper-button-next-st:hover,
.swiper-button-prev-st:hover {
	color: $Wight;
	background-color: $first-color;
	@include transition(all, 0.5s);
}

.swiper-button-next-st:active,
.swiper-button-prev-st:active {
	border: 2px solid $extra-lite;
	background-color: $second-color;
	@include transition(all, 0.5s);
}

.swiper-button-next-st::after,
.swiper-button-prev-st::after {
	font-size: 10px;
	color: $Wight;
	@include transition(color, 0.5s);
}

.swiper-button-next.swiper-button-next-st:hover::after,
.swiper-button-prev.swiper-button-prev-st:hover::after,
.swiper-button-next.swiper-button-next-st:active::after,
.swiper-button-prev.swiper-button-prev-st:active::after {
	color: $Wight;
	@include transition(color, 0.5s);
}

.swiper-pagination-st {
	position: relative;

	&.swiper-pagination-fraction {
		color: $Wight;
		font-size: 14px;
	}
}

.swiper-container#slider1 {
	overflow: hidden;
	padding-left: 5px;
	width: 1155px;
	height: 750px;
}

.swiper-slide.gallery__slider {
	position: relative;
	display: block;
	height: 350px;
	box-sizing: border-box;
	cursor: pointer;
	@include transition(all, 0.7s);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		background-color: $extra-lite;
		opacity: 0;
		@include transition(opacity, 0.7s);
	}

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
		width: 310px;
		height: 310px;
		background-image: url("../image/hover-gallery.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
		@include transition(opacity, 0.7s);
	}

	&:focus {
		border: 3px solid $second-color;
	}

	&::before {
		opacity: 0;
		@include transition(opacity, 0.7s);
	}


	&:hover::after {
		opacity: 1;
		@include transition(opacity, 0.7s);
	}

	&:active::before {
		opacity: 0.4;
		@include transition(opacity, 0.7s);
	}
}

.picture1 {
	background-image: url("../image/Rectangle.jpg");
}

.picture2 {
	background-image: url("../image/Rectangle2.jpg");
}

.picture3 {
	background-image: url("../image/Rectangle3.jpg");
}

.picture4 {
	background-image: url("../image/Rectangle4.jpg");
}

.picture5 {
	background-image: url("../image/Rectangle5.jpg");
}

.picture6 {
	background-image: url("../image/Rectangle6.jpg");
}

.picture7 {
	background-image: url("../image/Rectangle7.jpg");
}

.picture8 {
	background-image: url("../image/Rectangle8.jpg");
}

.picture9 {
	background-image: url("../image/Rectangle9.jpg");
}

.picture10 {
	background-image: url("../image/Rectangle10.jpg");
}

.picture11 {
	background-image: url("../image/Rectangle11.jpg");
}

.picture12 {
	background-image: url("../image/Rectangle12.jpg");
}

.picture13 {
	background-image: url("../image/Rectangle13.jpg");
}

.picture14 {
	background-image: url("../image/Rectangle14.jpg");
}

.picture15 {
	background-image: url("../image/Rectangle15.jpg");
}

.picture16 {
	background-image: url("../image/Rectangle16.jpg");
}

.picture17 {
	background-image: url("../image/Rectangle17.jpg");
}

.picture18 {
	background-image: url("../image/Rectangle18.jpg");
}

.picture19 {
	background-image: url("../image/Rectangle19.jpg");
}

.picture20 {
	background-image: url("../image/Rectangle20.jpg");
}

.picture21 {
	background-image: url("../image/Rectangle21.jpg");
}

.picture22 {
	background-image: url("../image/Rectangle22.jpg");
}

.picture23 {
	background-image: url("../image/Rectangle23.jpg");
}

.picture24 {
	background-image: url("../image/Rectangle24.jpg");
}

.picture25 {
	background-image: url("../image/Rectangle25.jpg");
}

.picture26 {
	background-image: url("../image/Rectangle26.jpg");
}

.picture27 {
	background-image: url("../image/Rectangle27.jpg");
}

.picture28 {
	background-image: url("../image/Rectangle28.jpg");
}

.picture29 {
	background-image: url("../image/Rectangle29.jpg");
}

.picture30 {
	background-image: url("../image/Rectangle30.jpg");
}

.gallery__description {
	position: absolute;
	display: block;
	left: 15px;
	top: 797px;
	max-width: 377px;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.4px;
	color: $Wight;

	a {
		color: $first-lite;
	}
}
