/* projects section */

.projects__container {
	padding-bottom: 0;
	padding-top: 84px;
	padding-left: 11px;
}

.projects__title {
	margin-bottom: 21px;
	margin-left: 0;
}


.projects__descriptions {
	max-width: 1060px;
	margin-bottom: 32px;
	margin-left: 2px;
}

.projects__partners {
	line-height: 8px;
	margin-bottom: 34px;
}

.projects__tooltip svg {
	display: inline-block;
	position: relative;
	top: 5px;
}

.tooltip1 {
	&::before {
		width: 265px;
		top: -59px;
		left: -125px;
	}

	&::after {
		top: -11px;
	}
}

.tooltip2 {
	&::before {
		width: 265px;
		top: -74px;
		left: -124px;
	}

	&::after {
		top: -10px;
	}
}

.tooltip3 {
	&::before {
		top: -43px;
		left: -106px;
		width: 232px;
	}

	&::after {
		top: -11px;
	}
}

.tooltip-toggle {

	cursor: pointer;
	position: relative;

	svg {
		height: 18px;
		width: 18px;
	}

	&::after {
		content: " ";
		position: absolute;
		left: 4px;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		border-top: 11px solid $Grey;
		font-size: 0;
		line-height: 0;
		margin-left: -5px;
		width: 0;
	}

	&::before {
		position: absolute;
		background-color: $Grey;
		color: $Wight;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		content: attr(aria-label);
		padding: 9px 11px 11px 11px;
		text-transform: none;
		transition: all 0.5s ease;
	}

	&::before,
	&::after {
		color: $tool-color;
		font-family: monospace;
		opacity: 0;
		pointer-events: none;
		text-align: center;
	}

	&:focus {

		outline: none;

		&::before,
		&::after {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}
	}

	&:hover {

		&::before,
		&::after {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}
	}
}

.projects__link {
	color: $first-color;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: $second-color;
	}
}

.swiper-slide.projects__slider {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	height: 148px;
	border: 1px solid $Grey;
	box-sizing: border-box;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.5s ease-in;

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		transition: all 0.5s ease-in;
		cursor: pointer;
	}
}

.swiper-container#slider3 {
	max-width: 1450px;
	margin-bottom: 87px;
}

.projects1 {
	background-image: url(../image/projects1.jpg);
}

.projects2 {
	background-image: url(../image/projects2.jpg);
}

.projects3 {
	background-image: url(../image/projects3.jpg);
}

.projects4 {
	background-image: url(../image/projects4.jpg);
}

.projects5 {
	background-image: url(../image/projects5.jpg);
}

.projects6 {
	background-image: url(../image/projects6.jpg);
}

.projects7 {
	background-image: url(../image/projects7.jpg);
}

.projects8 {
	background-image: url(../image/projects8.jpg);
}

.projects9 {
	background-image: url(../image/projects9.jpg);
}

.projects__swiper-button3.swiper-button {
	position: relative;

	.swiper-button-prev.swiper-button-prev-st.button3-prev,
	.swiper-button-next.swiper-button-next-st.button3-next {
		position: absolute;
		top: 83px;
		background: $btn-slider-color;

		&::after {
			color: $Black;
		}

		&:active {
			background-color: $first-color;
			border: 2px solid $second-color;
		}

		&:hover {
			background-color: $first-color;
		}
	}
}

.projects__showing .swiper-button-prev,
.projects__showing .swiper-container-rtl .swiper-button-next {
	left: 0;
}

.projects__showing .swiper-button-next,
.projects__showing .swiper-container-rtl .swiper-button-prev {
	right: 0;
}

.contacts__title {
	margin-bottom: 21px;
	margin-left: 0;
}
