/* projects section */

.projects__container {
	padding-left: 11px;
	padding-top: 80px;
	padding-bottom: 0;
}

.projects__title {
	margin-bottom: 16px;
}

.projects__descriptions {
	margin-left: 2px;
	margin-bottom: 33px;
	max-width: 1060px;
	letter-spacing: 0.1px;
}

.projects__partners {
	margin-bottom: 34px;
	line-height: 8px;
}

.projects__tooltip svg {
	position: relative;
	display: inline-block;
	top: 5px;
}

.tooltip1 {
	&::before {
		left: -125px;
		top: -59px;
		width: 265px;
	}

	&::after {
		top: -11px;
	}
}

.tooltip2 {
	&::before {
		left: -124px;
		top: -74px;
		width: 265px;
	}

	&::after {
		top: -10px;
	}
}

.tooltip3 {
	&::before {
		left: -106px;
		top: -43px;
		width: 232px;
	}

	&::after {
		top: -11px;
	}
}

.tooltip-toggle {
	position: relative;
	cursor: pointer;

	svg {
		width: 18px;
		height: 18px;
	}

	&::before {
		position: absolute;
		color: $Wight;
		background-color: $Grey;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		content: attr(aria-label);
		padding: 9px;
		text-transform: none;
		transition: all 0.5s ease;
	}

	&::after {
		content: " ";
		position: absolute;
		left: 4px;
		border-top: 11px solid $Grey;
		border-right: 11px solid transparent;
		border-left: 11px solid transparent;
		font-size: 0;
		line-height: 0;
		margin-left: -5px;
		width: 0;
	}

	&::before,
	&::after {
		font-family: monospace;
		color: $tool-color;
		opacity: 0;
		pointer-events: none;
		text-align: center;
	}

	&:focus {
		outline: none;

		&::before,
		&::after {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}
	}

	&:hover {

		&::before,
		&::after {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}
	}
}

.projects__link {
	color: $first-color;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: $second-color;
	}
}

.swiper-slide.projects__slider {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid $Grey;
	height: 148px;
	box-sizing: border-box;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.5s ease-in;

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		transition: all 0.5s ease-in;
		cursor: pointer;
	}
}

.swiper-container#slider3 {
	margin-bottom: 82px;
	max-width: 1450px;
}

.projects1 {
	background-image: url("../image/projects1.jpg");
}

.projects2 {
	background-image: url("../image/projects2.jpg");
}

.projects3 {
	background-image: url("../image/projects3.jpg");
}

.projects4 {
	background-image: url("../image/projects4.jpg");
}

.projects5 {
	background-image: url("../image/projects5.jpg");
}

.projects6 {
	background-image: url("../image/projects6.jpg");
}

.projects7 {
	background-image: url("../image/projects7.jpg");
}

.projects8 {
	background-image: url("../image/projects8.jpg");
}

.projects9 {
	background-image: url("../image/projects9.jpg");
}

.projects__swiper-button3.swiper-button {
	position: relative;

	.swiper-button-prev.swiper-button-prev-st.button3-prev,
	.swiper-button-next.swiper-button-next-st.button3-next {
		position: absolute;
		top: 83px;
		background-color: $btn-slider-color2;
		transition: all .5s ease-in;

		&::after {
			color: $Black;
			transition: color .5s ease-in;
		}

		&:focus {
			background-color: $btn-slider-color2;
			border: 2px solid $second-color;
			transition: all .5s ease-in;
		}

		&:hover {
			background-color: $first-color;
			transition: all .5s ease-in;
		}

		&:hover::after {
			color: $Wight;
			transition: color .5s ease-in;
		}

		&:active {
			border: 2px solid $extra-lite;
			background-color: $second-color;
			transition: all .5s ease-in;
		}

		&:active::after {
			color: $Wight;
			transition: color .5s ease-in;
		}
	}
}

.projects__showing .swiper-button-prev,
.projects__showing .swiper-container-rtl .swiper-button-next {
	left: 0;
}

.projects__showing .swiper-button-next,
.projects__showing .swiper-container-rtl .swiper-button-prev {
	right: 0;
}

.contacts__title {
	margin-bottom: 16px;
}
