/* projects section */

.projects__descriptions {
  max-width: 1080px;
  margin-top: 15px;
  letter-spacing: 0.242px;
}

.projects__tooltip svg {
  display: inline-block;
  position: relative;
  top: 5px;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;

  svg {
    height: 18px;
    width: 18px;
  }

  &::before {
    position: absolute;
    background-color: #cacaca;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    content: attr(aria-label);
    padding: 11px 11px 17px 11px;
    text-transform: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 330px;
  }
}

.tooltip1 {
  &::before {
    top: -81px;
    left: -146px;
  }

  &::after {
    top: -7px;
  }
}

.tooltip2 {
  &::before {
    top: -92px;
    left: -153px;
  }

  &::after {
    top: -6px;
  }
}

.tooltip3 {
  &::before {
    top: -64px;
    left: -138px;
    width: 296px;
  }

  &::after {
    top: -6px;
  }
}

.tooltip-toggle {
  &::after {
    content: " ";
    position: absolute;
    left: 4px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cacaca;
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
  }

  &::before,
  &::after {
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  &:focus {

    &::before,
    &::after {
      opacity: 1;
      -webkit-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transition: all 0.75s ease;
    }
  }

  &:hover {

    &::before,
    &::after {
      opacity: 1;
      -webkit-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transition: all 0.75s ease;
    }
  }
}

.projects__link {
  color: var(--first-color);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--second-color);
  }
}

.projects__slider {
  width: 1600px;
  margin: 0 auto;
}

.projects__partners {
  margin-top: 20px;
  margin-left: 11px;
}

.swiper-slide.projects__slider {
  display: block;
  position: relative;
  width: 450px;
  height: 128px;
  border: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-container#slider3 {
  max-width: 1450px;
  margin-bottom: 80px;
}

.projects1 {
  background-image: url(../image/projects1.jpg);
}

.swiper-slide.projects__slider:hover .projects1 {
  background-image: url(../image/projects1-1.jpg);
}

.projects2 {
  background-image: url(../image/projects2.jpg);
}

.projects3 {
  background-image: url(../image/projects3.jpg);
}

.projects4 {
  background-image: url(../image/projects4.jpg);
}

.projects5 {
  background-image: url(../image/projects5.jpg);
}

.projects6 {
  background-image: url(../image/projects6.jpg);
}

.projects7 {
  background-image: url(../image/projects7.jpg);
}

.projects8 {
  background-image: url(../image/projects8.jpg);
}

.projects9 {
  background-image: url(../image/projects9.jpg);
}

.projects__swiper-button3.swiper-button {
  position: relative;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev,
.swiper-button-next.swiper-button-next-st.button3-next {
  position: absolute;
  top: 105px;
  background: #ececec;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev::after {
  color: #000000;
}

.swiper-button-next.swiper-button-next-st.button3-next {
  &::after {
    color: #000000;
  }

  right: 13px;
}

.swiper-button-prev.swiper-button-prev-st.button3-prev {
  left: 13px;
}