/* menu */
.nav-toggle {
  display: none;
  position: relative;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  width: 32px;
  top: 19px;
  left: 0px;
  right: 5px;
  height: 2px;
  background: #ffffff;
}

.nav-toggle span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -10px;
  width: 26px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-toggle span::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: -10px;
  width: 36px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header__container-menu {
  width: 1000px;
  height: 101px;
  padding: 0 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
}

.header__close {
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
  border: none;
  background: none;
}

.header__close:focus {
  outline: none;
}

.close__line {
  position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.close__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close__line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__close:hover {
  border: none;
  background: none;
}

.header__close:hover:hover .close__line {
  background-color: var(--extra-lite);
}

.header__logo-menu {
  margin-left: 20%;
}

.menu-toggle {
  background-color: var(--first-color);
  position: fixed;
  left: -130vw;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 15;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.menu--showed {
  left: 0;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.menu-nav {
  margin-left: 25%;
  margin-top: 15px;
}

.menu-nav__link {
  display: inline-block;
  color: #ffffff;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu-nav__link:hover {
  color: var(--second-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
